@charset "UTF-8";

html {
	background-color: #DBDBDB;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9rem;
	font-weight: 400;
	padding-bottom: 5px;
	color: #333;
}

html a {
	color: #333;
	text-decoration: none;
}
html .jp-layout-metadataList a {
	color: #2A89C1;
}
html p a {
	color: #2A89C1;
}

body {
	margin: 0 auto;
	width: 1024px;
}
.hidden {
	display: none;
}
.jp-layout-index h1 {
	font-size: 1.2em;
}
.jp-layout-index-intro {
	margin: 30px 0px;
}
.jp-layout-index-list {
	margin-bottom: 35px;
}
.jp-layout-index-list a {
	color: #333;
}
.jp-layout-index-list ul {
	white-space: nowrap;
	padding: 18px 0;
	background-color: #F3F3F3;
	border-top: 2px solid #999898;
	border-bottom: 2px solid #999898;
}
.jp-layout-index-list ul li {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}
.jp-layout-index-list .entry {
	display: block;
	white-space: normal;
	width: 190px;
}
.jp-layout-index-list .entry .title {
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif;
}
.jp-layout-index-list .entry .title .initial {
	background-color: #2A89C1;
	color: white;
	display: inline-block;
	font-size: 24px;
	margin-right: 8px;
	padding: 0 8px;
}
.jp-layout-index-list .entry .title .text {
	font-size: 22px;
	display: inline-block;
}
.jp-layout-index-list .entry .description {
	font-style: italic;
}
.jp-layout-index-list .journal {
	margin-left: 254px;
}
.jp-layout-index-list .calendar {
	margin-left: 44px;
}

/* IE need this */
.jp-layout-index-list .linkButton{
	border: none;
}
.jp-layout-index-objectEditing {
	margin-bottom: 30px;
}
.jp-layout-index-latestArticles ul {
    height: 130px;
    padding: 0;
    white-space: nowrap;
}
.jp-layout-index-latestArticles ul > li {
    display: inline-block;
    height: 100%;
    text-align: left;
    vertical-align: bottom;
    white-space: normal;
    width: 33.3%;
    border-right: 1px solid #999898;
}
.jp-layout-index-latestArticles ul > li:last-child {
	border-right: none;
}
.jp-layout-index-latestArticles ul > li:first-child .wrapper {
	margin: 0 20px 0 0;
}
.jp-layout-index-latestArticles ul > li:not(:first-child) .wrapper {
	margin: 0 20px;
}
.jp-layout-index-latestArticles ul > li .wrapper .title {
    display: list-item;
    list-style-position: inside;
    list-style-type: none;
    margin: 0 0 20px;
    font-style: italic;
    min-height: 80px;
}

.jp-layout-footer {
	text-align: center;
	margin-top: 15px;
}
.jp-layout-footer .logo {
	height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
}
.jp-layout-footer ul {
	list-style: none;
	padding: 0px;
}
.jp-layout-footer ul li {
	display: inline-block;
	padding: 0 20px;
}

#jp-breadcrumb-container {
	border-bottom: 1px solid;
	font-size: 11px;
}

#jp-breadcrumb-container menu {
	margin: 0;
	padding: 2px 0;
	display: inline-block;
}

#jp-breadcrumb-container menu li {
	border-color: inherit;
	border-left-style: solid;
	border-left-width: 1px;
	display: inline-block;
	padding: 0 5px;
}

#jp-breadcrumb-container menu li:first-child {
	border: medium none;
	padding-left: 1px;
}
#jp-breadcrumb-container menu li:last-child {
	padding-right: 1px;
}

#jp-breadcrumb-container .jp-layout-scroller {
	float: right;
	clear: right;
}

.jp-layout-searchBreadcrumb {
	display: inline;
	margin: 0;
	padding-left: 0;
}

.jp-layout-searchBreadcrumb li {
	border-left: 1px solid;
	display: inline-block;
	padding: 0 5px;
}

.jp-layout-searchBreadcrumb li:first-child {
	border: medium none;
	padding-left: 0px;
}

.jp-layout-content-area {
	overflow: hidden;
	padding: 0 29px;
}

.jp-layout-content-area a {
	font-weight: normal;
}

.jp-layout-content-area a:hover {
	text-decoration: underline;
}

.jp-layout-horiz-menu,.topList {
	list-style-type: none;
	padding: 0;
}

.jp-layout-menu-dropdown {
	
}

.jp-layout-menu-dropdown:hover {
	
}

.jp-layout-menu-dropdown:nth-last-child(4):hover>menu.jp-layout-submenu-dropdown
	{
	right: 0;
}

.jp-layout-submenu-dropdown {
	list-style: none outside none;
	padding: 0;
}

.jp-layout-submenu-dropdown>li {
	float: none;
	margin: 8px 0 0;
}

.jp-layout-horiz-menu>li:first-child,.topList li:first-child {
	margin-left: 0;
}

.jp-layout-horiz-menu>li,.topList li {
	display: inline-block;
	margin-left: 10px;
}

.jp-layout-intro {
	padding: 0 20px;
}

.jp-layout-metadata {
	color: black;
	padding-left: 20px;
}

.jp-layout-maintitle {
	font-size: 13pt;
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: solid 1px;
}

.jp-layout-metadataList dt {
	clear: left;
	float: left;
	font-style: italic;
	margin-bottom: 10px;
	text-align: right;
	width: 250px;
}

.jp-layout-metadataList dt:AFTER {
	content: ": "
}

.jp-layout-metadataList dd {
	float: left;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 350px;
}
.jp-layout-metadataList .address dt {
	width: 90px;
	margin-bottom: 2px;
}
.jp-layout-metadataList .address dd {
	width: 250px;
	margin-bottom: 2px;
}

.jp-layout-metadataList .linked ul {
	padding-left: 15px;
}

.jp-layout-metadataList .linked ul .jp-layout-clickLabel {
	font-weight: bold;
}

.jp-layout-metadataList .linked ul .jp-layout-searchBreadcrumb {
	display: block;
}

.jp-layout-derivates {
	float: left;
	margin-top: 20px;
	overflow: hidden;
	width: 192px;
}

.jp-layout-derivates>p {
	background-color: #9A9899;
	border-bottom: 1px solid #6D6D6D;
	font-weight: bold;
	margin: 0;
	padding: 5px;
}

.jp-layout-derivates>div {
	max-height: 414px;
	overflow: auto;
}

.jp-layout-derivates ul {
	margin: 0;
}

.jp-layout-derivateLinks {
	margin-top: 20px;
}

.jp-layout-derivateLinks img {
	position: relative;
	width: 192px;
	z-index: 1;
}

.jp-layout-derivateLinks {
	list-style: none outside none;
	padding: 0;
}

.jp-layout-derivateLinks li:first-child {
	margin: 0;
}

.jp-layout-derivateLinks li {
	margin-top: 5px;
}

#viewerContainerWrapper {
	display: none;
}

.jp-layout-floater {
	float: left;
	height: 50%;
	margin-bottom: -96px;
	width: 1px;
}

.jp-layout-derivateLinks .viewerContainer {
	clear: left;
}

.jp-layout-editing {
	clear: both;
	height: 30px;
	margin-top: 5px;
}

.jp-layout-editing menu {
	left: 35px;
	margin: 0;
	position: relative;
	top: 8px;
}

.jp-layout-metadataList {
	float: left;
	list-style: none outside none;
	width: 630px;
	overflow: hidden;
	padding: 0;
}

.jp-layout-metadataList li span {
	float: left;
	font-style: italic;
	padding-right: 10px;
	text-decoration: underline;
}

.jp-layout-metadataList li p {
	padding-left: 20px;
}

.navi_history {
	border-bottom: 1px solid;
	clear: both;
	height: 20px;
	margin-bottom: 10px;
	margin-top: 5px;
	padding-top: 5px;
}

.jp-layout-tableOfContent {
	clear: both;
	overflow: hidden;
}

.jp-layout-tableOfContent h3 {
	margin-top: 0;
	text-decoration: underline;
}

#jp-content-container {
	padding-top: 20px;
}

#resultList .jp-layout-hidden-Button, #artList .jp-layout-hidden-Button {
	background: url("/images/enlargeButton_small.png") no-repeat scroll 0 0
		transparent;
	margin-left: -13px;
	margin-top: -13px;
}

.jp-layout-hidden-Button {
	background: url("/images/enlargeButton_small.png") no-repeat scroll 0 0
		transparent;
	color: white;
	display: none;
	font-weight: bold;
	height: 50px;
	left: 50%;
	margin: -13px auto 0 -13px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 50px;
	z-index: 2;
}

.languageMenu {
	position: relative;
	top: 2px;
}

.languageMenu a {
	cursor: pointer;
	display: inline-block;
	padding: 7px 4px 2px;
}

.languageMenu ul {
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 15px;
	width: 47px;
	box-shadow: 0 3px 2px #999999;
}

.languageMenu ul li {
	display: block;
	padding: 0;
}

.languageMenu ul a {
	display: inline-block;
	padding: 5px 11px 4px 12px;
}

.languageMenu ul a:hover {
	background:  -moz-linear-gradient(top, rgba(174,188,191,1) 0%, rgba(110,119,116,1) 50%, rgba(10,14,10,1) 51%, rgba(10,8,9,1) 100%);
}

.languageList_show {
	background: -moz-linear-gradient(center top , #EDEDED 0%, #B1B1B1 100%) repeat scroll 0 0 transparent;
	display: block;
}

.languageList_hidden {
	display: none;
}

.languageSelect {
	background: none repeat scroll 0 0 #EDEDED;
	box-shadow: 0 2px 2px;
}

.jp-layout-marginLR {
	margin-left: 29px;
	margin-right: 29px;
}

#jp-footer-menu {
	
}

.jp-layout-menubar {
	border-top: 1px solid #9A9899;
}

#jp-delete-objects {
	margin: 0;
}

#jp-delete-objects a:hover {
	text-decoration: underline;
}

.jp-layout-message-background {
	background-color: black;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}

.jp-layout-message {
	border: 2px solid black;
	height: 185px;
	left: 50%;
	margin: -92px auto 0 -150px;
	position: fixed;
	top: 50%;
	width: 300px;
	background-color: white;
	z-index: 200;
}

.jp-layout-message-icon {
	float: left;
	margin-left: 20px;
	margin-top: 30px;
}

.jp-layout-message-text {
	float: left;
	font-size: 11pt;
	margin-left: 20px;
	margin-top: 30px;
	width: 168px;
}

.jp-layout-message-button {
	background-color: #E5E5E5;
	border: 1px solid #9A9899;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	padding: 4px 6px 0;
	text-align: center;
	width: 66px;
}

.jp-layout-message-button:hover {
	background-color: #CFCFCF;
}

#deleteFail #okButton {
	clear: both;
	margin-left: 107px;
	margin-top: 40px;
}

#deleteCheck #delCheckButtons {
	clear: both;
	padding-left: 86px;
	padding-top: 40px;
}

.paperClip-icon {
	background-image: url("/images/paperClip.png") !important;
	height: 24px !important;
	width: 24px !important;
}

.jp-layout-inline {
	display: inline;
}

.jp-layout-selected-underline {
	font-weight: bold;
}

.jp-layout-selected-underline a {
	color: black;
	cursor: default;
	font-weight: bold;
}

.jp-layout-selected-underline a:hover {
	text-decoration: none;
}

.jp-layout-label {
	margin-right: 10px;
}

.jp-layout-label:AFTER {
	content: ":";
}

.jp-layout-list-nodecoration {
	color: #4E494E;
	list-style: none outside none;
	padding-left: 0;
}

.jp-layout-list-nodecoration>li {
	margin-bottom: 20px;
	overflow: hidden;
}

.jp-layout-clickLabel {
	margin: 2px 0;
}

.jp-layout-clickLabel a {
	color: #4B4E49;
	font-weight: bold;
}

.jp-layout-bottomline {
	border-bottom: 1px solid;
}

.jp-layout-paginator li {
	margin: 0;
}

.jp-layout-paginator li a {
	display: block;
	font-size: 10pt;
	padding: 0 5px;
}

.jp-layout-paginator li.jp-layout-selected-underline a {
	border: 1px solid;
}

#resultListHeader {
	margin-bottom: 25px;
}

#resultListHeader.jp-layout-bottomline {
	border-bottom-width: 2px;
}

#resultListHeader .navigation {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
}

#resultListHeader .navigation li {
	display: inline-block;
	padding: 0 10px;
	border-left: 1px solid;
}
#resultListHeader .navigation li:first-child {
	border: medium none;
}
#resultListHeader .navigation li:last-child {
	padding-right: 0px;
}

#resultPaginator {
	margin-top: 25px;
	padding-top: 20px;
}

.jp-layout-topline {
	/*border-top: 1px solid;*/
}

#searchResults .jp-layout-list-nodecoration>.jp-layout-topline:first-child
	{
	border: medium none;
	padding: 0;
}

#searchResults .jp-layout-list-nodecoration>.jp-layout-topline {
	padding-top: 6px;
}

#objectPreviewContainer .objectPreview {
    background-color: #FAFAFA;
    box-shadow: 0 0 4px #999999;
    padding: 8px 18px 8px 8px;
    position: absolute;
    max-width: 600px;
}
#objectPreviewContainer .objectPreview .loading {
	
}
#objectPreviewContainer .objectPreview .jp-metadata dt {
    clear: left;
    float: left;
    font-style: italic;
    text-align: right;
    width: 130px;
    margin-bottom: 4px;
}
#objectPreviewContainer .objectPreview .jp-metadata dd {
    float: left;
    margin-bottom: 4px;
    margin-left: 22px;
}

#objectPreviewContainer .objectPreview .jp-metadata dt:AFTER {
	content: ": "
}

#resultPaginator {
	text-align: center;
}

#resultPaginator .jp-layout-paginator {
	display: inline;
}

#resultList {
	width: 900px;
	padding-bottom: 49px;
}

#searchRightNavi {
	border-left: 1px solid;
	float: right;
	left: -1px;
	padding-left: 29px;
	position: relative;
	width: 206px;
}

#searchRightNavi ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#searchRightNavi ul>li {
	margin-top: 10px;
}

#searchRightNavi ul>li:first-child {
	margin-top: 0;
}

.jp-layout-content-LCol {
	float: left;
	padding-bottom: 20px;
	padding-right: 29px;
}

.jp-layout-content-LCol-RCol {
	border-right: 1px solid;
	width: 657px;
}

.jp-layout-content-LCol-noRCol {
	width: 100%;
}

.jp-layout-content-LCol>ul {
	list-style-type: none;
	margin: 20px 0 0;
	padding-left: 0;
}

.jp-layout-content-LCol>ul>li {
	border-top: 1px solid;
	margin-top: 20px;
	padding-top: 20px;
}

.jp-layout-content-LCol>ul>li:first-child {
	border-top: medium none;
	margin-top: 0;
	padding-top: 0;
}

.jp-layout-content-RCol {
	border-left: 1px solid;
	float: right;
	margin-left: -1px;
	padding: 0 29px 20px 58px;
	width: 192px;
}

.jp-layout-object-editing {
	border-bottom: medium none;
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 20px;
	padding: 0;
}

.jp-layout-object-editing+.jp-layout-derivateLinks {
	border-top: 1px solid;
	padding-top: 20px;
}

.jp-layout-object-editing>li:first-child {
	border-top: medium none;
	margin-top: 0;
	padding-top: 0;
}

.jp-layout-object-editing>li {
	border-top: 1px solid;
	margin-top: 20px;
	padding-top: 10px;
}

#diagButton,#ckeditorButton {
	color: #494949;
	cursor: pointer;
}

#diagButton:hover,#ckeditorButton:hover {
	text-decoration: underline;
}

.jp-layout-tableOfContent>ul {
	display: block;
}

.jp-layout-tableOfContent>ul li{
	margin-bottom: 12px;
}

.resultPaginator {
	margin-top: 20px;
}

.resultPaginator>span {
	font-weight: bold;
	margin-right: 10px;
}

.jp-layout-hMenu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.jp-layout-hMenu li {
	display: inline-block;
	padding: 0 10px;
}

#globalHeader {
	background-color: white;
}

#globalHeader a {
	font-weight: bold;
}

#globalHomeLink {
	display: inline-block;
	padding: 10px 0;
}

#globalHomeLink .webWriteProtection{
	color:#FF0000;
	text-decoration: blink;
	font-weight: bold;
}

#globalHomeLink li {
	border-left: 2px solid;
}

#globalHomeLink li:first-child {
	border: medium none;
}

#globalMenu {
	float: right;
	margin-right: 10px;
}

#globalMenu>ul {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 10px 0;
}

#globalMenu>ul li {
	display: inline-block;
	padding: 0 5px;
}

#globalMenu>ul li.userName {
	border-right: solid 2px;
}

#logo {
	background-image: url("/templates/template_master2/IMAGES/logo.png");
	background-position: left top;
	background-repeat: no-repeat;
	clear: both;
	height: 115px;
}

#logo .logoTitle {
    color: white;
    display: table-cell;
    height: 115px;
    padding: 0 30px;
    vertical-align: middle;
}

#searchBar {
	background-color: #859198;
	height: 30px;
	padding: 5px 29px 0;
}

#searchBar #searchForm #inputField {
	width: 555px;
}

#searchBar #searchForm a {
	color: white;
	margin-left: 12px;
}

#main {
	background-color: white;
	overflow: hidden;
	padding: 1px 29px 49px;
	min-height: 580px;
}

#main a:hover {
	text-decoration: underline;
}

#jp-tableOfContent .jp-layout-derivateLinks>li {
	display: inline-block;
}

#jp-tableOfContent .jp-layout-derivateLinks>li img {
	height: 64px;
	width: auto;
}

#advancedSearchForm .row {
	padding-bottom: 5px;
}
#advancedSearchForm .row .field {
	margin-right: 12px;
}
#advancedSearchForm .row .value {
	width: 400px;
}
#advancedSearchForm .submit {
	margin-top: 12px;
}

#resultList .jp-layout-derivateWrapper, #jp-tableOfContent .jp-layout-derivateWrapper {
	width: auto;
}

#artList {
	list-style-type: none;
	margin: 0;
	padding-left: 25px;
	padding-right: 25px;
}

#artList li .metadata, #resultList .metadata {
	float: left;
	width: 70%;
}

#resultList .jp-layout-derivateList, #artList .jp-layout-derivateList {
	float: right;
}
#artList>li>a:first-child {
	font-weight: bold;
}

#resultList .jp-layout-derivateWrapper>img, #artList .jp-layout-derivateWrapper>img {
	height: 63px;
	width: auto;
}

#artList>li:first-child {
	border: medium none;
	margin-top: 0;
}

#artList>li {
	border-top: 1px solid;
	margin-top: 20px;
	padding-top: 20px;
	overflow: hidden;
}

#jp-content-Bottom {
	border-top: 3px solid;
	clear: both;
	overflow: hidden;
	padding-top: 20px;
}

#jp-content-Bottom .jp-layout-derivateLinks {
	float: left;
	width: 200px;
}

#derivCol {
	margin-top: 12px;
	overflow: hidden;
	padding-left: 128px;
}

#derivCol>h4 {
	font-size: 0.98em;
	margin-top: 0;
	text-decoration: underline;
}

.jp-layout-derivateList {
	overflow: hidden;
}

.jp-layout-derivateList .jp-layout-derivateWrapper {
	float: left;
	margin-right: 10px;
	margin-bottom: 8px;
	vertical-align: top;
}

.jp-layout-derivateList .jp-layout-derivateWrapper .edit {
	margin: 0px;
	padding: 0px;
}

.jp-layout-derivateList .jp-layout-derivateWrapper .image {
	position: relative;
}

.jp-layout-derivateList .jp-layout-derivateWrapper .image:hover {
	cursor: pointer;
}

#resultList .jp-layout-derivateList .jp-layout-derivateWrapper img, #artList .jp-layout-derivateList .jp-layout-derivateWrapper img, #resultList .jp-layout-derivateList .jp-layout-derivateWrapper .image, #artList .jp-layout-derivateList .jp-layout-derivateWrapper .image {
	width: 80px;
}
.jp-layout-derivateList .jp-layout-derivateWrapper img {
	width: 200px;
}
.jp-layout-derivateList .jp-layout-derivateWrapper img.logo {
	width: 100px;
}

.jp-layout-clear {
	clear: both;
}

#jp-breadcrumb-container+#jp-content-Bottom {
	border-top: medium none;
}

.jp-layout-label + .jp-layout-inList:BEFORE {
	content: "";
}

.jp-layout-inList:BEFORE {
	content: "; ";
}

.jp-layout-derivateList ~ .jp-layout-metadaInSearchResults {
	margin-top: 20px;
}

.jp-layout-metadaInSearchResults {
	list-style-type: none;
	padding-left: 0px;
	font-style: italic;
	float: left;
}

.jp-layout-admin ul {
	margin: 0px;
	padding: 0px;
}
.jp-layout-admin ul li {
	border: none;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.jp-layout-globalmessage-editor table {
	width: 650px;
}
.jp-layout-globalmessage-editor table tr td textarea {
	width: 100%;
	height: 150px;
}

#ckeditorContainer {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

.ckeditorButtons{
	list-style-type: none;
	margin-top: 15px;
	float: right;
}

.ckeditorButtons li{
	display: inline-block;
}

#ckeditorCancelButton {
	margin-right: 10px;
}

#ckeditorCancelButton {
	margin-left: 10px;
}

.jp-layout-maintitle, #searchRightNavi, #resultList, #artList>li, #jp-breadcrumb-container, .jp-layout-content-LCol, .jp-layout-content-LCol >ul >li, .jp-layout-content-RCol, .jp-layout-object-editing + .jp-layout-derivateLinks, .jp-layout-object-editing > li, #jp-content-Bottom{
	border-color: #DBDBDB;	
}


.user-login fieldset {
	border: none;
}
.user-login .type-text label {
    display: inline-block;
    padding-right: 10px;
    text-align: right;
    width: 100px;
}
.user-login .type-text input {
	width: 220px;
}
.user-login .type-button {
	padding-top: 12px;
}

.user-editor .editorCell .editorList {
	width: 150px;
}

.user-details #buttons form {
	display: inline-block;
	margin: 14px 5px;
}
.user-details .user tr th {
    padding-right: 12px;
    text-align: right;
    vertical-align: top;
}
.user-details .user tr td dl {
	margin: 0px;
}

.user-list-users .user {
	margin-top: 18px;
    text-align: left;
    width: 800px;
}

#metaData, #files {
    padding: 10px 0px;
    width: 100%;
}
#metaData td, #files td {
	padding: 2px 0px;
}
#metaData .metaname, #files .metaname {
    width: 20%;
    font-weight: bold;
    background-color: transparent;
    color: black;
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
}
#metaData .metavalue, #files .metavalue {
    width: 80%;
    background-color: white;
    color: black;
    padding-left: 10px;
}
#files .metaname, #files .metavalue{
    width: auto;
}
#metaData .metahead, #files .metahead{
    color: #15516E;
    font-weight: bold;
    background-color: transparent;
}
#files .metahead {
	text-align: left;
}

#metaData .adressBox {
}
#metaData .addressType {
    font-weight: bold;
}
#metaData .address {
    padding-left: 2em;
}
#metaData .derivateBox {
}
#metaData .derivateHeading {
    font-weight: bold;
}
#metaData .derivate {
    padding-left: 2em;
}
#files td .inputDeleteFile {
	display: block;
	background-image: url("/images/button_delete.gif");
	width: 16px;
	height: 16px;
}
#files td img.inputAddUrn {
	display: block;
	background-image: url("/images/addnbn.gif");
	width: 29px;
	height: 22px;
}

p.jp-layout-metadata-list {
	margin-top: 0px;
}