html, body {
    margin: 0px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    width: 100%;
}
#second-line {
	width: 100%; 
	height:100%;  
}	
#div_navi_main {
	float: left; 
	width: 230px;
}

#navi_box {
	float: right;
	text-align: right; 
	height: 210px;
	padding-top: 15px;
	padding-right: 60px;
	vertical-align: top;
}

#navi_history {
	text-align: left;
	height: 14px;
	vertical-align: top;
	padding-top: 5px;
	margin-left: 250px;
}

#navi_history a{
	color: #5E5946;
	text-decoration: none;
}

#navi_history a:hover{
	color: #5E5946;
	text-decoration: underline;
}

#navi_history_inside {
	margin-left:2px;
	width: auto;
	margin-right:0px;
}

#contentArea {
	width: max;
	margin-left: 240px;
}

#footer {
	width: max; 
	height:162px; 
	margin: 0px;
}

#login_div {
	width: 273px;
	height: 25px; 
	padding-left: 31px;
	padding-top: 7px;
}

#login{
	vertical-align: top;
}

#thulb_logo {
	vertical-align: top;
	padding-left: 15px;
	padding-top: 8px;
}
