<servlet id="MCRJPortalCLIServlet">
    <servlet-name>MCRJPortalCLIServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRJPortalCLIServlet</servlet-class>
</servlet>
<servlet id="MCRDuplicateFinderServlet">
    <servlet-name>MCRDuplicateFinderServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRDuplicateFinderServlet</servlet-class>
</servlet>
<servlet id="MCRJPortalCreateContext">
    <servlet-name>MCRJPortalCreateJournalContextServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRJPortalCreateJournalContextServlet</servlet-class>
</servlet>
<servlet id="MCRJPortalLinkFileServlet">
    <servlet-name>MCRJPortalLinkFileServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRJPortalLinkFileServlet</servlet-class>
</servlet>
<servlet id="MCRJPortalStartEditorServlet">
    <servlet-name>MCRJPortalStartEditorServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRJPortalStartEditorServlet</servlet-class>
</servlet>
<servlet id="MCRJPortalCheckCommitDataServlet">
    <servlet-name>MCRJPortalCheckCommitDataServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRJPortalCheckCommitDataServlet</servlet-class>
</servlet>
<servlet id="MCRJPortalEditorCancelServlet">
    <servlet-name>MCRJPortalEditorCancelServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRJPortalEditorCancelServlet</servlet-class>
</servlet>
<servlet id="MCRJPortalAtoZListServlet">
    <servlet-name>MCRJPortalAtoZListServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRJPortalAtoZListServlet</servlet-class>
</servlet>
<servlet id="MCRJPortalIndexBrowserServlet">
    <servlet-name>MCRJPortalIndexBrowserServlet</servlet-name>
    <servlet-class>org.mycore.frontend.indexbrowser.MCRJPortalIndexBrowserServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>MCRJPortalStartEditorServlet</servlet-name>
    <url-pattern>/servlets/MCRJPortalStartEditorServlet/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>MCRJPortalCLIServlet</servlet-name>
    <url-pattern>/cli</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>MCRDuplicateFinderServlet</servlet-name>
    <url-pattern>/servlets/MCRDuplicateFinderServlet/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>MCRJPortalCreateJournalContextServlet</servlet-name>
    <url-pattern>/servlets/MCRJPortalCreateJournalContextServlet/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>MCRJPortalLinkFileServlet</servlet-name>
    <url-pattern>/servlets/MCRJPortalLinkFileServlet/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>MCRJPortalCheckCommitDataServlet</servlet-name>
  <url-pattern>/servlets/MCRJPortalCheckCommitDataServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>MCRJPortalEditorCancelServlet</servlet-name>
  <url-pattern>/servlets/MCRJPortalEditorCancelServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>MCRJPortalAtoZListServlet</servlet-name>
  <url-pattern>/journalList.xml</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>MCRJPortalIndexBrowserServlet</servlet-name>
  <url-pattern>/indexpage</url-pattern>
</servlet-mapping>