@CHARSET "UTF-8";
#logo {
	background-image: url("../IMAGES/logo.png");
}

.keywords {
	margin-bottom: 5px;
}
.keywords h3 {
	text-decoration: underline;
    display: inline-block;
    margin: 5px 0;
    font-size: 1.1rem;
}
.keywords > ul {
    padding-left: 0px !important;
}

.keywords ul {
    padding-left: 20px;
    list-style-type: none;
}
.keywords .placeholder {
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 15px;
}
.keywords .expander {
	cursor: pointer;
}
.keywords .expand {
	background-image: url("../IMAGES/plus.png");
	display: inline;
}
.keywords .collapse {
	background-image: url("../IMAGES/minus.png");
	display: inline;
}

.keyWordDiv {
    display: inline;
}

.keyWordDiv:hover {
	cursor: pointer;
}