<servlet id="MCRJPortalCLIServlet">
    <servlet-name>MCRJPortalCLIServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRJPortalCLIServlet</servlet-class>
</servlet>
<servlet id="MCRDuplicateFinderServlet">
    <servlet-name>MCRDuplicateFinderServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRDuplicateFinderServlet</servlet-class>
</servlet>
<servlet id="MCRRecycleBinServlet">
    <servlet-name>MCRRecycleBinServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRRecycleBinServlet</servlet-class>
</servlet>
<servlet id="MCRJPortalCreateContext">
    <servlet-name>MCRJPortalCreateJournalContextServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRJPortalCreateJournalContextServlet</servlet-class>
</servlet>
<servlet id="MCRJPortalLinkFileServlet">
    <servlet-name>MCRJPortalLinkFileServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRJPortalLinkFileServlet</servlet-class>
</servlet>
<servlet id="MCRJPortalStartEditorServlet">
    <servlet-name>MCRJPortalStartEditorServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRJPortalStartEditorServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>MCRJPortalStartEditorServlet</servlet-name>
    <url-pattern>/servlets/MCRJPortalStartEditorServlet/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>MCRJPortalCLIServlet</servlet-name>
    <url-pattern>/cli</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>MCRDuplicateFinderServlet</servlet-name>
    <url-pattern>/servlets/MCRDuplicateFinderServlet/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>MCRRecycleBinServlet</servlet-name>
    <url-pattern>/servlets/MCRRecycleBinServlet/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>MCRJPortalCreateJournalContextServlet</servlet-name>
    <url-pattern>/servlets/MCRJPortalCreateJournalContextServlet/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>MCRJPortalLinkFileServlet</servlet-name>
    <url-pattern>/servlets/MCRJPortalLinkFileServlet/*</url-pattern>
</servlet-mapping>