@CHARSET "UTF-8";

.navbar-fixed-bottom .navbar-inner{
	padding-left: 20px;
	padding-right: 20px;
}

body{
	padding-bottom: 20px;
}

.hover.icon-remove{
	color: #B32B21;
	cursor: pointer;
}

.hover.ipAbo{
	color: #408DD2;
	cursor: pointer;
}

.ipAbo{
	width: 460px;
}

.affix{
	top: 0px;
	width: 940px;
}

form.editValue {
	margin-bottom: 0px;
/* 	width: 398px; */
}

form.editValue input{
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}