@CHARSET "UTF-8";
.tab-nav{
	display: block;
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: left;
}

.tab-nav li{
	display: inline;
	padding: 0px 5px 0px 5px;
	cursor: pointer;
}

.tab-panel{
	display: block;
	padding: 10px 10px;
	clear: both;
}

.journal-title{
	margin-bottom: 2px;
}

.tab-panel ul{
	list-style: none;
}

#contentArea .tab-panel h3 a{
	font-size: 13pt;
	font-weight: bold;
	text-decoration: underline;
}

#firstLetterTab .label{
	float: left;
	margin-right: 10px;
}

.tab-fonts {
	font-weight: bold;
	font-size: 10pt;
}

.selected-tab{
	border: 1px solid;
	margin: 0px 4px 0px 4px;
}

.default-tab{
	margin: 1px 5px 1px 5px;
}

.tab-panel li{
	padding-bottom: 15px;
}

.ui-msg {
	font-style: italic;
}