@CHARSET "UTF-8";

#logoDate{
	position: relative;
	left: 215px;
    top: 2px;
    font-size: medium;
    width: 809px;
}

#logoTitle{
	position: relative;
	left: 215px;
    top: 11px;
    font-size: x-large;
    width: 450px; 
}