@CHARSET "UTF-8";

#logo .logoTitle {
	width: 660px;
	padding-left: 205px;
	height: 90px;
	font-size: 1.4rem;
	color: #444;
}

#logo .logoDate {
	padding: 3px 205px;
	font-size: 1.1rem;
	color: #444;
}

@media (max-width: 767px) {
	#logo .logoTitle {
    	font-size: 0.9rem;
    	word-break: break-all;
	}
}