@CHARSET "UTF-8";

#logo .logoTitle {
	width: 660px;
	padding-left: 205px;
	height: 90px;
	font-size: 1.4rem;
	color: #444;
	word-break: break-all;
}

#logo .logoDate {
	padding: 3px 205px;
	font-size: 1.1rem;
	color: #444;
}

@media (max-width: 500px) {
	#logo .logoTitle {
    	word-break: break-all;
    	padding-left: 10px;
    	padding-right: 10px;
    	color: #C00000;
	}
}