html, body {
	margin-top: 0px;
	margin-left: 0px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
}

#footer2-left {
	width : 275px;
	text-align: left;
	vertical-align: top;
	}

#footer2-right {
	width : 100%;
	text-align: left;
	vertical-align: top;
	}

#div_navi_main {
	width: 275px;
}

#div_navi_main_top {
	vertical-align: top;
	padding: 0px; 
	margin: 0px;
	width: 275px;
	padding-left: 8px;
}

#div_navi_main_middlea {
	height: 31px; 
	margin: 0px;
	padding: 0px;
	width: 275px;
}

#div_navi_main_middleb {
	line-height:0px;
	height: 31px; 
	margin: 0px;
	padding: 0px;
	width: 275px;
}

#div_navi_main_bottom { 
	height: 100%;
	padding: 0px;
	margin: 0px;
	width: 280px;
}

#navi_box {
	text-align: right;
	width: 100%; 
	height: 73px;
	padding-top: 8px;
	vertical-align: top;
}

#navi_history {
	text-align: left;
	width: 100%; 
	height: 60px;
	padding-left: 275px;
	vertical-align: bottom;
	padding-bottom: 0px;
}

#navi_history[id] {
	height: 67px;
}

#navi_history a{
	color: #5E5946;
	text-decoration: none;
}
#navi_history a:hover{
	color: #5E5946;
	text-decoration: underline;
}
#navi_history_inside {
	padding: 2px;
	margin-left:2px;
	width: auto;
	margin-right:0px;
	padding-right:0px;
}

#footer {
	width: 100%; 
	height:150px; 
	margin: 0px;
	}
#footer_bottom {
	float: left; 
	position: relative;
	width: 255px;
	height: 32px;
}	
#login_div {
	vertical-align: bottom;
	width: 250px;
	height: 25px; 
	padding-left: 25px;
}
#login_div_inside {
	padding: 2px;
}
#thulb_logo { 
	height: 150px;
	vertical-align: top;
	text-align: right;
	padding-top: 5px;
	padding-right: 12px;
}

#banner-left {
	vertical-align: top;
}

#banner-right {
	padding-right: 5px; 
	width: 90px;
}
