@CHARSET "UTF-8";

#logo {
	background-image: url("../IMAGES/logo.png");
	background-repeat: no-repeat;
	background-position: left top;
	height: 115px;
	display: block;
}

#logoTitle {
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	padding: 92px 31px 0px;
}

#logoLink {
    display: inline-block;
    height: 62px;
    left: 29px;
    position: absolute;
    top: 20px;
    width: 145px;
}

@CHARSET "UTF-8";

.jp-content-laws .register {
	padding-bottom: 12px;
}

.jp-content-laws .register td {
	padding-bottom: 2px;
	padding-right: 12px;
}

.jp-content-laws .laws th {
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	padding-bottom: 2px;
	background-color: #ccc;
}

.jp-content-laws .highlight {
	background-color: yellow;
}

.jp-content-laws .laws td {
	text-align: left;
	vertical-align: top;
	padding-right: 24px;
	padding-left: 4px;
}

.jp-content-laws .page {
	white-space: nowrap;
}

.jp-content-laws .laws tr:nth-child(odd) {
	background-color: #eee;
}

.jp-laws-expertsearch {
}

.jp-laws-expertsearch table th {
	padding-right: 20px;
	text-align: left;
}

.jp-laws-expertsearch table tr {
	padding-bottom: 8px;
}

.jp-laws-expertsearch .seperator {
	padding-right: 3px;
	padding-left: 3px;
}

.jp-laws-expertsearch .submit {
	margin-top: 12px;
}