@CHARSET "UTF-8";

#navigationTreeContainer {
	width: 100%;
	height: 100%;
	position: relative;
}

#navigationTreePane {
	padding: 0px;
}

#navigationTreeToolbar {
	border: 1px solid #cccccc;
	margin-top: 5px;
}

.categoryEditorMainTable {
	padding: 5px;
	width: 100%;
}

.categoryEditorDescription {
	padding-top: 4px;
	min-width: 60px;
	vertical-align: top;
	text-align: left;
}

.categoryEditorValue {
	text-align: right;
}

.labelEditorTable {
	text-align: center;
	width: 100%;
}

.largeComponent {
	width: 400px;
}

/*******************************************************
* Icons
********************************************************/
.icon12 {
	background-repeat: no-repeat;
	background-position: center center;
	width: 12px;
	height: 12px;
}
.icon16 {
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
}
.icon22 {
	background-repeat: no-repeat;
	background-position: center center;
	width: 22px;
	height: 22px;
}


.addIcon12 {
	background-image: url(../images/add_12.png);
}
.removeIcon12 {
	background-image: url(../images/remove_12.png);
}

.addIcon16 {
	background-image: url(../images/add_16.png);
}

.addDisabledIcon16 {
	background-image: url(../images/addDisabled_16.png);
}

.removeIcon16 {
	background-image: url(../images/remove_16.png);
}

.removeDisabledIcon16 {
	background-image: url(../images/removeDisabled_16.png);
}
.root {
	background-image: url(../images/root_22.png);
}
.classification {
	background-image: url(../images/classification_22.png);
}
.category {
	background-image: url(../images/category_22.png);
}
.category2 {
	background-image: url(../images/category2_22.png);
}
.saveIcon {
	background-image: url(../images/save_16.png);
}
.saveDisabledIcon {
	background-image: url(../images/saveDisabled_16.png);
}