@CHARSET "UTF-8";
#logo {
	background-image: url("../IMAGES/logo.png");
}

#logo .logoTitle {
	padding: 10px 190px;
	height: 95px;
	font-size: 26px;
}

@media (max-width: 767px) {
	#logo .logoTitle {
    	word-break: break-all; 
    	font-size: 1.7em;
    	padding: 0.5em 0.5em 0.5em 1.1em;
	}
}