/* =================================================================== */
/* template_mycoresample-2/CSS/style_navigation.css                    */
/* $Revision: 762 $ $Date: 2009-03-04 09:33:19 +0100 (Mi, 04 Mrz 2009) $		       */
/* =================================================================== */

/* ==================================================== */
/* Style for the login and navigation row in SUZ	*/
/* ==================================================== */
td.login_navi_row {
    height: 31px;
}

td.login_row {
	background : white; 
}

td.navi_row {
    text-align: center;
}

td.navi_row table{
    margin-right: 0px;
    margin-left: auto;
    margin-bottom: 3px;
}

/* Style for the Login-Window in JLZ */
table.login_window {
    font-size: 11px;
    font-weight : bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    min-width: 291px;
    width: 100%;
    vertical-align: middle;
    /*color: white*/
    padding : 0px;
    border-spacing : 0px;
    border : 3px solid white;
/*    padding-left: 20px;*/
}
	
td.login_text {
    text-align: left;
   	background : white;
/*   	width : 80px; */
}
td.login_window {
	width : 80px;
	text-align : center;
	background : white; 
}
td.user_id {
    text-align: left;
    background : white;
/*    width: 104px; */
}

p.whitebox {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

div.buttons {
    line-height: 7px;
    padding-left: 3px;

}

td.login_window a:link {
    color:  #455B7C;
    text-decoration: none;
}

td.login_window a:visited {
    color:  #455B7C;
    text-decoration: none;
}

td.login_window a:hover {
    color:  #AA5522;
    text-decoration: none;
}

td.login_window a:active {
    color:  #455B7C;
    text-decoration: none;
}

td.login_window a:focus {
    color:  #AA5522;
    text-decoration: none;
}

/* Navigation history line */
/*td.navi_history {
    height: 22px;
    background: white url(../IMAGES/navi_pix.gif);
    background-repeat: repeat-x repeat-y;
}*/

/* ==================================================== */
/* Style for the main menu				*/
/* ==================================================== */
td.menus {
    font-size: 11px;
    font-weight : bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-style: none;
    border-width: 0px;
    min-width: 200px;
    width: 200px;
    vertical-align: top;
}
						
div.main_menu {
    /*background-color: #EADFA5;*/
    background: #AEC6D4 url(../IMAGES/menu_pix.gif);
    vertical-align: top;
    min-width: 222px;
    width: auto;
    border-style: none;
    /*margin-left:20px;*/
}

/* ==================================================================================*/

/* =================================================================== */
/* Navigation below                                                    */
/* =================================================================== */
#navi_below_cell {
    padding: 3px;
    text-align: right;
}
#navi_below_cell table{
    margin-right: 0px;
    margin-left: auto;
    margin-bottom: 3px;
}

.navi_below th, .navi_below td, .navi_below a
{
    /*color: #15516E;*/ /* ocean */
    /* JLZ */
    color:  white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.navi_below a
{
    /*color: #15516E;*/ /* ocean */
    /* JLZ */
    color:  white;
    text-decoration: none;
} 
.navi_below a:hover
{
    text-decoration: underline;
}		
.navi_below .marked a
{
    text-decoration: underline;
}	

/* =================================================================== */
/* General Main navigation column                                      */
/* =================================================================== */
.navi_column
{
    background : #CAD9E0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: #0C374C;
}

/* =================================================================== */
/* General Main navigation column                                      */
/* =================================================================== */
#navi_history{
	color: #646567;
	font-family: Verdana;
	font-weight: bold;
	left: 214px;
	position: absolute;
	top: 133px;
}

#navi_history a
{
    color: #646567;
    font-weight : normal;
    text-decoration: none;
}
#navi_history a:hover
{
    text-decoration: underline;
}

#navi_history_user{
    text-align:left;
    padding-left: 3%;
}

/* =================================================================== */
/* Main navigation menu                                                */
/* =================================================================== */
#div_navi_main > ul {
    padding-left: 0px;
}
#div_navi_main > ul.topList > li > a {
	border: none;
	color: #646567;
	background-color: #ebebec;
    margin-top: 2px;
    padding: 5px 14px;
    width: 158px;
}
#div_navi_main > ul.topList > li > a:hover {
    background-color: #00abf0;
    color: white;
}
#div_navi_main ul li a {
	color: #646567;
	font-weight: normal;
}
#div_navi_main ul li a:hover {
	color: #00abf0;
}

.navi_main
{
    /*background-color: #EADFA5;*/
    font-size: 11px;
    font-weight : bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-style: none;
    border-width: 0px;
    vertical-align: top;
    width: 200px;
}

#navi_main_active
{
	background-color: #0089bf;
	color: white;
}

.navi_main_content
{
    vertical-align: top;
    min-width: 235px;
    padding-left: 25px;  
    width: auto;
    border-style: none;
    /* margin-left:20px; */	/* taken out for JLZ */
    /* JLZ */
}

/* JLZ ======================================== */
div.logo{
    /*background-color: #EADFA5;*/
    vertical-align: bottom;
    min-width: 100px;
    width: auto;
    border-style: none;
    /* margin-left:20px; */	/* taken out for JLZ */
    /* JLZ */
    /* background: #FFFAE5 url(../IMAGES/bg_pix.gif);*/
    /* background-repeat: repeat-x repeat-y */
}

td.empty_box {
    /*height: 31px;*/
    height: 31px;
    background: #FFFAE5 url(../IMAGES/bg_pix.gif);
}
/* ============================================= */

.navi_main tr, .navi_main td{
font-size: 11px;
}

.navi_main img{
	display: block;
	border-style: none;
	border-width: 0px;
}

.navi_main th a
{
	font-weight: bold;
	padding-top:5px;
	padding-left: 15px;
	display: block;
	background-color: #ebebec;	
    color:  #646567;
    width: 168px;
    text-decoration: none;
    font-family:verdana;
	height:20px;
    /*background:url(../IMAGES/18th-normal-navi-ends.png) no-repeat;
	*/
}

.navi_main th a:hover
{
    text-decoration: none;  
    background-color: #00abf0;
    color: white;
}

.navi_main th a .marked
{
	font-weight: bold;
    text-decoration: none;
    background-color: #00abf0;
}

.navi_main td a
{	
    font-weight : normal;	
    color:  #646567;
    text-decoration: none;
}
.navi_main td a:hover
{
    font-weight : normal;	
    color:  #00abf0;
    text-decoration: none;
}

#navi_main_active tr, #navi_main_active td{
font-size: 11px;
}

#navi_main_active img{
	display: block;
	border-style: none;
	border-width: 0px;
}

#navi_main_active th a
{	
	font-weight: bold;
	padding-top: 3px;
	padding-left: 3px;
	display: block;
	background-color: #00abf0;
    color:  #646567;
    width: 100%;
    height: 18px;
    text-decoration: none;
    /*background:url(../IMAGES/18th-normal-navi-ends.png) no-repeat;
	*/
}

#navi_main_active td a
{	
    font-weight : normal;	
    color:  #646567;
    text-decoration: none;
}
#navi_main_active td a:hover
{	
    font-weight : normal;	
    color:  #646567;
    text-decoration: none;
}