@CHARSET "UTF-8";

table.editor{
	table-layout: fixed;
	max-width: 966px;
}

.editorPanel{
	table-layout: fixed;
	max-width: 966px;
}

.editorHeadlines{
	font-weight: bold;
	text-align: center;
	height: 36px;
}

.editorHeadlines label{
	border-bottom: 1px solid;
	display: block;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.editorSubHeadlines{
	font-weight: bold;
}

.editorLabel{
	width: 200px;
	display: block;
	padding-right: 5px;
	text-align: right;
}

.editorMandatory{
	width: 200px;
	display: block;
	padding-right: 5px;
	text-align: right;
}

.editorCell{
	text-align: left;
	table-layout: fixed;
	max-width: 966px;
}

.editorList{
	width: 636px;
	table-layout: fixed;
}

input.editorList{
	width: auto;
}

.editorTextfield{
	width: 630px;
}

.editorTextarea{
	width: 630px;
	resize: none;
}

.editorRepeater .editorTextfield{
	width: 630px;
}

.editorRepeater .editorPanel{
	margin-left: -6px;
}

.editorRepeater .editorCell .editorCell{
	padding-left: 6px;
}

label.editorText {
	font-weight: bold;
}

.editorRepeater .editorCell label.editorText {
	font-weight: normal;
}

.editorButtons{
	border-top: 1px solid;
	padding-top: 10px;
}

.editorButtons .editorPanel{
    float: right;
    margin-right: 63px;
}

.editorButtons .editorButton{
	margin-left: 10px;
}

/*journal*/
.editorPredece .editorTextfield{
	width: 588px;
}

.editorSuccessor .editorTextfield{
	width: 588px;
}

/*person*/
.editorPersonNameR .editorTextfield{
	width: 545px;
}

.editorPersonNameR label.editorText{
	font-weight: normal;
}

.editorPersonName .editorTextfield{
	width: 560px;
}

.editorPersonFreeText .editorTextfield{
	width: 580px;
}
