@CHARSET "UTF-8";

#logoDate{
	position: relative;
	left: 215px;
    top: 2px;
    font-size: medium;
    width: 809px;
}

#logoTitle{
	position: relative;
	left: 215px;
    top: 11px;
    font-size: x-large;
    width: 450px; 
}

@media (max-width: 767px) {
	#logo #logoTitle {
    	word-break: break-all; 
    	font-size: 0.8em !important; 
    	width: 30%;
	}
}