html,body{
	width: 100%;
	height: 100%;
}

#filebrowser{
	width: 100%;
	height: 100%;
}

.hide-folder {
    display: none;
}

ul{
	list-style: none outside none;
}

.button{
	cursor: pointer;
	padding-right: 5px;
}

.icon{
	padding-right: 5px;
	cursor: default;
}

.no-button{
	min-width: 19px;
	padding-right: 5px;
	display: inline-block;
}

.folder-name{
	display: inline;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.folder{
	white-space: nowrap;
}

#folder-list-search{
	padding: 5px;

}

#folder-list-search > input{
	border-radius: 0;
}

#folder-list-search-button{
	border-radius: 0;
}

#file-view{
	position: relative;
	display: inline-block;
	width: 75%;
	height: 100%;
	border: 1px solid #DDD;
	margin-bottom: 0;
}

#files{
	height: 100%;
	position: relative;
}

#folder-list-div{
	margin-bottom: 0;
	display: inline-block;
	width: 25%;
	height: 100%;
	float: left;
	position: relative;
	background-color: #F5F5F5;
}

.aktiv:BEFORE {
    background-color: #1565c0;
    content: "";
    height: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}

.aktiv{
	position: relative;
}

.drag-elm-hover:BEFORE {
    background-color: #1565c0;
    content: "";
    height: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}

.drag-elm-hover{
	position: relative;
}

.drag-elm-hover > div, .drag-elm-hover > span{
	color: #FAFAFA;
}

li.aktiv > div{
	color: #FAFAFA;
}

li.aktiv > span{
	color: #FAFAFA;
}

#folder-list-ul{
	position: absolute;
	top: 60px;
	bottom: 50px;
	right: 5px;
	left: 0;
	overflow: auto;
	margin-bottom: 0;
}

ul{
	padding-left: 15px;
}

#bottom-buttons{
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-top: 5px;
	width: 100%;
	margin-bottom: 10px;
}

#bottom-buttons > div{
	cursor: pointer;
}

#bottom-buttons > div > span{
	padding-right: 5px;
}

.folder-name{
	cursor: default;
}

#browser-table-wrapper{
	height: calc(100% - 376px - 48px);
	overflow: auto;
}

#browser-table-wrapper.small-table{
	height: calc(100% - 120px - 48px);
	overflow: auto;
}


.browser-table-entry td:nth-child(1) {
	width: 30px; 
}

.browser-table-entry td:nth-child(2) {
	width: 90px; 
}

#browser-table .browser-table-entry > td{
	height: 38px;
	border-bottom: 1px solid #F7F7F7;
	border-top-width: 0;
	padding: 15px 5px;
}

.browser-table-entry td:nth-child(3) {
	width: 30%; 
}

#browser-table-head{
	background-color: #FAFAFA;
	border-bottom: 1px solid #DDD;
	margin-bottom: 0;
}

#browser-table-head-tr th{
	border-width: 0;
	padding-top: 15px;
	padding-bottom: 10px;
}

#browser-table-head th:nth-child(1) {
	width: 30px; 
}

#browser-table-head th:nth-child(2) {
	width: 90px; 
}

#browser-table-head th:nth-child(3) {
	width: 30%; 
}


span.btn{
	padding-left: 3px;
	padding-right: 3px;
	cursor: pointer;
	display: inline;	
}

.popover-img{
	vertical-align: top;
	max-width: 50%;
	max-height: 200px;
}

.img-placeholder-popover{
	vertical-align: top;
	max-width: 50%;
	max-height: 200px;
}

.img-placeholder-startfile{
	max-width: 400px;
	max-height: 200px;
	overflow: hidden;
	margin: auto;
}

.checked{
	background-color: #1565c0;
	color: #FAFAFA;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > td{
	background-color: #9A9898;
}

.invisable{
	opacity: 0;
}

.hidden{
	display: none;
}

 .popover {
     max-width: 552px;
     color: #000;
 }

 .popover-content dl {
     display: inline-block;
     margin-left: 20px;
 }

.derivat-panel-body dt{
	float: left;
	text-align: right;
	width: 120px;
}

.derivat-panel-body dd{
	margin-left: 130px;
}

.derivat-panel-body dl{
	margin-bottom: 0;
}

#derivat-panel-body-left{
	display: inline-block;
	float: left;
	width: 50%;	
	position: relative;
	height: 100%;
}

.derivat-panel-body{
	position: relative;
	height: 256px;
}

#derivat-panel-buttons{
	position: absolute;
	left: 15px;
	bottom: 0;
}

.button-glyphicon{
	padding-right: 5px;	
}

#derivat-panel-startfile{
	display: inline-block;
	float: left;
	width: 50%;
	height: 226px;
}

#collapse-btn-div{
	text-align: center;
}

#panel-img{
	max-width: 400px;
	max-height: 200px;
	display: block;
	overflow: hidden;
	margin: auto;
}

#derivat-panel-startfile figure{
	display: table;
	position: relative;
	max-height: 202px;
	max-width: 402px;
	margin: auto;
	box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.5);
}

#derivat-panel{
	background-color: #fafafa;
	border-radius: 0;
	margin-bottom: 0;
	box-shadow: 3px 3px 10px 0 rgba(50, 50, 50, 0.5);
	position: relative;
	z-index: 2;
}

.panel-img-cap{
	position: absolute;
	bottom: 0;
	background-color: rgba(77,77,77,0.8);
	width: 100%;
	text-align: center;
}

#derivat-panel-startfile-label{
	color: #FAFAFA
}

#derivat-panel-startfile-overlay-div{
	background-color: rgba(77, 77, 77, 0.8);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#derivat-panel-startfile-overlay-label{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.target-folder-selected:BEFORE {
	background-color: #1565c0;
    content: "";
    height: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}

.target-folder-selected{
	position: relative;
}

li.target-folder-selected > div.folder-name{	
	color: #FFFFFF;
}

li.target-folder-selected > span{
	color: #FFFFFF;
}

span.popover-file{
	cursor: default;
}

span.btn-folder{
	cursor: default;
}

#derivate-browser{
	position: relative;
	height: 100%;
}

#derivate-browser-breadcrumb{
	background-color: #fafafa;
	border-bottom: 1px solid;
	border-color: #DDD;
	border-radius: 0;
	margin-bottom: 0;
	padding: 15px;
	box-shadow: 0 1px 5px 0 rgba(50, 50, 50, 0.1);
	position: relative;
}


li.derivate-browser-breadcrumb-entry{
	cursor: pointer;
}

#upload-overlay{
	z-index: 99;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(77, 77, 77, 0.5);
}

#upload-status-bar{
	z-index: 999;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
	position: absolute;
	bottom: 0;
	right: 40px;
	width: 500px;
	height: 0;
	background-color: #FFFFFF;	
}

#upload-status-bar-body{
	overflow: auto;
	height: calc(100% - 30px);
}

#upload-status-bar-body > table{
    width: 100%;
}

#upload-status-bar-header{
	background: #000000;
	height: 30px;
}

#upload-status-bar-header-label{
	color: #FFFFFF;
	display: inline-block;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 6px;
}

.glyphicon-cloud-upload{
	color: #FFFFFF;
	padding-left: 5px;
}

.btn-close-usb{
	color: #FFFFFF;
	float: right;
}

.btn-mini-usb{
	color: #FFFFFF;
	float: right;
}

.upload-preview-image{
	max-height: 50px;
	max-width: 100px;
}

.img-placeholder-upload{
	max-height: 50px;
	max-width: 100px;
}

.upload-preview-name{
	padding-left: 5px;
	width: 150px;
	max-width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.upload-preview-size{
	padding-left: 5px;
	width: 100px;
	max-width: 100px;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.statusbar-progress{
	width: 130px;
    margin-bottom: 0;
    box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.5);
    border-radius: 0;
    float: right;
}

.statusbar-progress-status{
    background-color: #1565C0;
}

.upload-preview-status{
	padding: 0 8px;
}

.no-urn{
	display: inline-block;
}

.noSelect{
	-moz-user-select: 	-moz-none;
	-moz-user-select:	none;
	-o-user-select:	none;
	-khtml-user-select:	none; 
	-webkit-user-select:	none;
	-ms-user-select:	none;
	user-select:	none;
}

.faded{
	opacity: 0.3;
}

.btn-add{
	position: relative;
    padding: 2px 0 0;
}

.btn-add1{
    color: #FFFFFF;
    font-size: 16px;
    left: 7px;
    position: absolute;
    top: -5px;
    z-index: 10;
}

.btn-add2{
    font-size: 14px;
    left: 8px;
    position: absolute;
    top: -4px;
    z-index: 20;
}

.btn-add3{
    color: #FFFFFF;
    font-size: 16px;
    left: 7px;
    position: absolute;
    top: -7px;
    z-index: 10;
}

.bottom-btns{
	position: relative;
	background-color: #FAFAFA;
	border-top: 1px solid #DDD;
	padding: 12px 2px;

}

#journal-browser-bottom-btns{
	text-align: right;
	padding: 8px 15px;
}

#derivate-browser-footer{
	margin-bottom: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	box-shadow: 0 1px 5px 0 rgba(50, 50, 50, 0.1);
}

#upload-status-bar-remember{
	display: inline-block;
	float: right;
	color: #FFFFFF;
	padding-right: 5px;
}

#upload-status-bar-remember-label{
	display: inline-block;
	font-weight: bold;
	padding-top: 4px;
}

.upload-preview-overlay-label{
	color: #d9534f;
}

#upload-status-bar-remember-check:hover{
	color: #FFFFFF;
}

.upload-entry{
	height: 40px;
	width: 100%;
}

.overwrite-img{
	vertical-align: top;
	box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.2);
	max-width: 250px;
	max-height: 150px;
}

.img-placeholder-overwrite{
	vertical-align: top;
	box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.2);
	max-width: 250px;
	max-height: 150px;
}

.overwrite-label{
	font-weight: bold;
	text-align: center;
}

.overwrite-content dl {
    display: inline-block;
    margin-left: 20px;
    width: 45%;
}

.overwrite-content{
	margin-top: 5px;
	margin-bottom: 10px;
}


#lightbox-upload-overwrite-text{
    margin-bottom: 10px;
}

#overwrite-button td{
	padding: 5px 20px 5px 5px;
    text-align: left;
}

.btn-upload-all{
	padding-top: 3px;
}

#btn-upload-all-label{
	display: inline-block;
}

#drag-doc{
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: #1565c0;
	color: #FAFAFA;
	box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.8);
	z-index: 20;
}

#drag-img-div{
	position: absolute;
	max-width: 200px;
	max-height: 200px;
	z-index: 20;
	box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.8);
	background-size: 100%; 
}

#drag-img-div > img{
	max-width: 200px;
	max-height: 200px;
}

#drag-doc > span{
	display: inline;
}

.modal-content{
	border-radius: 0;
}

.browser-button{
	border-radius: 0;
	border-width: 0;
	box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.2);
}

.browser-button:hover{
	box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.4);
}

.btn-round{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.2);
	float: right;
}

.btn-round:hover{
	box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.5);
}

.btn-round button{
	padding: 8px 11px;
}

#alert-area{
	position: absolute;
	top: 0;
	z-index: 99999;
	width: 100%;
	height: 52px;
	transform: translate(0px, -70px);
	margin-bottom: 0;
	border-radius: 0;
	box-shadow: 3px 3px 10px 0 rgba(50, 50, 50, 0.5);
	transition: transform 1s ease-in 0s;
	text-align: center;
}

#alert-area.show-alert{
	transform: translate(0, 0);
	transition: transform 1s ease-out 0s;
}


.alert-danger:hover {
    background-color: #f44336;
    border-color: #f44336;
    color: #FFFFFF;
    font-weight: bold;
}

.alert-success{
	background-color: #4caf50;
	border-color: #4caf50;
	color: #FFFFFF;
	font-weight: bold;
}

.alert-warning {
    background-color: #fff176;
    border-color: #fff176;
    color: rgba(0, 0, 0, 0.87);
}

.btn-primary {
    color: #FFF;
    background-color: #1565C0;
    border-color: #1565C0;
}

.btn-primary:hover {
    color: #FFF;
    background-color: #1565C0;
    border-color: #1565C0;
}

.btn-warning {
    color: #FFF;
    background-color: #ff9800;
    border-color: #ff9800;
}

.btn-warning:hover {
    color: #FFF;
    background-color: #ff9800;
    border-color: #ff9800;
}

.btn-danger {
    background-color: #f44336;
    border-color: #f44336;
    color: #FFF;
}

.btn-danger:hover {
    background-color: #f44336;
    border-color: #f44336;
    color: #FFF;
}

.btn-default {
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}

.btn-default:hover {
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}


#lightbox-alert-delete-main{
	box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.5);
}

#lightbox-upload-overwrite-save{
	display: inline-block;
	float:right;
	width: 100%;
}

#lightbox-upload-overwrite-buttons{
	display: inline-block;
	float: right;
}

#lightbox-alert-delete-list{
	margin-top: 10px;
}

.lightbox-warning{
	margin-bottom: 0;
}

#journal-info{
	position: relative;
	height: 100%;
}

#journal-info-text{
	height: calc(100% - 49px);
	overflow: auto;
	padding: 20px;

}

#journal-info-text .panel{
	margin-bottom: 0;
	border: 0;
}

#journal-info-text input, #journal-info-text select, #journal-info-text button, #journal-info-text textarea{
	box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.2);
	border: 0;
	border-radius: 0;
}

#journal-info-text button:hover{
    box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.4);
    border: 0;
    border-radius: 0;
}

#journal-info-text span.input-group-addon{
	display: table-cell;
	box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.2);
	border: 0;
	border-radius: 0;
    padding: 6px 12px;
}

#journal-info-text div.panel-heading{
    box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2);
    border: 0;
    border-radius: 0;
}

#folder-list-new-area{
	position: absolute;
	bottom: 0;
	width: 100%;
    padding-top: 8px;
    padding-bottom: 9px;
}

#folder-list-new-select-area{
    position: absolute;
    bottom: 50px;
    margin: 0 5px;
    padding-top: 5px;
    width: calc(100% - 10px);
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.4);
}

#folder-list-new-choose{
	width: calc(100% - 10px);
    margin-left: 5px;
}

.folder-list-new-button{
    width: calc(100% - 20px);
    margin-bottom: 10px;
    margin-left: 10px;
}

#lightbox-new-derivate-main{
    min-height: 300px;
    position: relative;
}

#lightbox-new-derivate-main > table{
    width: 100%;
}

#lightbox-new-derivate-hint{
    text-align: center;
    position: absolute;
    top: 45%;
    width: 100%;
}

/******************************************************
* Overwrite Bootstrap Stuff from jp-default
*******************************************************/

.pagination > .active:hover {
	text-decoration: none;
    background-color: #1565C0;
}

#personSelect-select .pagination > .active > span{
    background-color: #1565C0;
    border-radius: 0;
}
#personSelect-select .pagination > .active > span:hover{
    background-color: #1565C0;
    border-radius: 0;
}


#personSelect-select .pagination > li > a:hover , .pagination > li > span:hover {
    color: #1565C0;
	background: none;
	border: 1px solid #DDD;
    border-radius: 0;
}

#personSelect-select .pagination > li > a, .pagination > li > span {
    color: #1565C0;
    background: none;
    border: 1px solid #DDD;
    border-radius: 0;
}
.pagination .input-group-sm .form-control, .pagination .input-group-sm .btn {
	height: 33px;
	border-color: #DDD;
}

#resultPaginator{
    text-align: center;
}

.thumbnail {
	position: relative;
	cursor: pointer;
}

.jp-popover-container .popover {
	display: block;
	width: 100%;
	max-width: none;
	position: relative;
	box-shadow: none;
    border-radius: 0;
}
.jp-popover-container .popover .popover-content {
	height: 494px;
	overflow-x: hidden;
}

#resultList .navbar-collapse.in {
	overflow-y: visible;
}

#personSelect-modal > .modal-dialog{
	width: 930px;
}

#personSelect-modal-body{
	padding-bottom: 0;
}

#personSelect-select .popover-content{
	height: 310px;
}

#personSelect-select a.list-group-item.active{
    background-color: #1565C0;
}

#personSelect-select a.list-group-item{
    border-radius: 0;
}

.jp-popover-container .jp-metadata dt {
    clear: left;
    float: left;
    font-style: italic;
    text-align: right;
    width: 130px;
    margin-bottom: 4px;
}

.jp-popover-container .jp-metadata dt:after {
    content: ": ";
}

.jp-popover-container .jp-metadata dd {
    float: left;
    margin-bottom: 4px;
    margin-left: 22px;
}