@CHARSET "UTF-8";
body{
	min-width: 1020px;
}

.header {
	background-image: url("../IMAGES/master_new-header-bg.png");
	background-position: left 30px;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/master/template_master2/IMAGES/master_new-topleft-logo.png', sizingMethod='crop');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/master/template_master2/IMAGES/master_new-topleft-logo.png', sizingMethod='crop')";
}

.logo {
	background: url("../IMAGES/master_new-topright-logo.png");
	background-repeat: no-repeat;
	background-position: right top;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/master/template_master2/IMAGES/master_new-logo.png', sizingMethod='crop');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templates/master/template_master2/IMAGES/master_new-logo.png', sizingMethod='crop')";
}

.information_box, .search_box{
	width: 348px;
	height: 226px;
}

.languageMenu ul {
	top: 24px;
}

.new_articles{
	width: 703px;
	margin-top: 5px;
}