@charset "UTF-8";

/*******************************************************
* Overwrite Bootstrap Stuff
********************************************************/
.pagination > .active:hover {
	text-decoration: none;
}
.pagination > .plain > a,  .pagination > .plain > span {
	cursor: default;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	color: inherit;
}
.pagination > .plain:hover > a, .pagination > .plain:hover > span {
	background: none;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.pagination .input-group-sm .form-control, .pagination .input-group-sm .btn {
	height: 33px;
	border-color: #DDD;
}

.thumbnail {
	position: relative;
	cursor: pointer;
}

.jp-popover-container .popover {
	display: block;
	max-width: none;
	position: relative;
	box-shadow: none;
}
.jp-popover-container .popover .popover-content {
	height: 494px;
	overflow-x: hidden;
}

#resultList .navbar-collapse.in {
	overflow-y: visible;
}

body.modal-open {
    overflow-y: auto !important;
    padding-right: 0 !important;
}

.popover {
	max-width: none;
}

/*******************************************************
*
********************************************************/
html, body {
	background-color: #DBDBDB;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9rem;
	font-weight: 400;
	padding-bottom: 5px;
	color: #333;
	overflow-x: hidden;
}
html a {
	color: #333;
	text-decoration: none;
}
html .jp-layout-metadataList a, html p a, html .jp-layout-inList a, html .jp-layout-intro a {
	color: #2A89C1;
}

.hidden {
	display: none;
}
.pointer {
	cursor: pointer;
}
.jp-layout-index h1 {
	font-size: 1.2em;
}
.jp-layout-index-intro {
	margin: 30px 0px;
}
.jp-layout-index-list {
	margin-bottom: 35px;
}
.jp-layout-index-list a {
	color: #333;
	text-align: left;
}
.jp-layout-index-list ul {
	padding: 18px 0;
	background-color: #F3F3F3;
	border-top: 2px solid #999898;
	border-bottom: 2px solid #999898;
}
@media(min-width: 768px){
	.jp-layout-index-list .journal {
		margin-right: 2em;
	}
	.jp-layout-index-list .calendar {
		margin-left: 5em;
	}
}
.jp-layout-index-list ul li {
	vertical-align: top;
}
.jp-layout-index-list .entry {
	display: block;
	white-space: normal;
	width: 190px;
}
.jp-layout-index-list .entry .title {
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif;
}
.jp-layout-index-list .entry .title .initial {
	background-color: #2A89C1;
	color: white;
	display: inline-block;
	font-size: 24px;
	margin-right: 8px;
	padding: 0 8px;
}
.jp-layout-index-list .entry .title .text {
	font-size: 22px;
	display: inline-block;
}
.jp-layout-index-list .entry .description {
	font-style: italic;
}

.jp-layout-index-latestArticles{
	margin: 0 0 10px 0;
}
.jp-layout-index-latestArticles h1{
	margin-top: 0;
}
.jp-layout-index-latestArticles div {
    margin: 0;
}
.jp-layout-mainContent {
	padding: 1px 29px 49px;
	background-color: white;
}
.jp-layout-titlewrap{
	overflow: hidden; 
}
@media(min-width: 768px){
	.jp-layout-index-latestArticles div > div:not(:last-child) {	
		border-right: 1px solid #999898;
	}
	.jp-layout-index-latestArticles div > div:first-child  {
	padding: 0 20px 0 0;
	}
	.jp-layout-index-latestArticles div > div:not(:first-child)  {
	padding: 0 20px;
	}
}
@media(max-width: 767px){
	.jp-layout-metadataList > dt{
		padding: 0;
	}
	
	.jp-layout-index-latestArticles div > div{
		padding: 0;
	}
	.jp-layout-index-latestArticles div > .col-sm-4:not(:last-child){
		border-bottom: 1px solid #999898; 
		padding-bottom: 10px;
	}
}
.jp-layout-index-latestArticles div > div  .jp-layout-titlewrap{
	border-right: none;
	padding: 0;
	height: 95px; 
}
.jp-layout-index-latestArticles div > div  .jp-layout-titlewrap .title {
    font-style: italic;
    min-height: 80px;
}
.jp-layout-index-latestArticles div > div .journal{
	padding: 0;
	height: 35px;
	overflow: hidden; 
}
.jp-layout-footer {
	text-align: center;
	margin-top: 15px;
}
.jp-layout-footer .logo {
	height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
}
.jp-layout-footer ul {
	list-style: none;
	padding: 0px;
}
.jp-layout-footer ul li {
	display: inline-block;
	padding: 0 20px;
}

.jp-layout-border-bottom{
	border-bottom: 1px solid;	
}

#jp-breadcrumb-container {
	font-size: 11px;
	padding-right: 29px;
	padding-left: 29px;
	background-color: white;
}

#jp-breadcrumb-container .jp-layout-scroller {
	text-align: right;
	clear: right;
	background-color: transparent;
	margin: 0;
	padding-right: 0;
}

.jp-layout-hit-breadcrumb{
	display: inline;
	padding: 0;
	margin: 0;
	background-color: #fff;
}

@media(min-width: 768px){
	.jp-layout-hit-breadcrumb{
		display: inline;
	}
}

@media (min-width: 1200px){
	.logo.container {
		width: 970px;
	}
}

.jp-layout-hit-breadcrumb li:first-child {
	padding-left: 0px;
}

.jp-layout-menu-dropdown:nth-last-child(4):hover>menu.jp-layout-submenu-dropdown {
	right: 0;
}

.jp-layout-submenu-dropdown {
	list-style: none outside none;
	padding: 0;
}

.jp-layout-submenu-dropdown>li {
	float: none;
	margin: 8px 0 0;
}

.jp-layout-intro {
	padding: 0;
}

.jp-layout-maintitle {
	clear: both;
	font-size: 13pt;
	padding: 15px 0;
	border-bottom: 1px solid #C6C7C8;
	font-weight: bold;
	margin-bottom: 22px;
}

.jp-layout-object-editing-container {
	line-height: 31px;
}

.jp-layout-object-editing-container > .btn {
	font-size: 16px;
}

.jp-layout-object-editing-menu a:hover {
	text-decoration: none;
}

.jp-layout-object-editing-menu .divider:first-child {
    display: none;
}

.jp-layout-metadataList dt {
	clear: left;
	margin-bottom: 10px;
}

.jp-layout-metadataList dd > a:not(:last-child):after{
	content: ", ";
}

.jp-layout-metadataList > dd > p {
	margin-bottom: 0;
}

.jp-layout-metadataList dd {
	float: left;
	margin-bottom: 10px;
	padding-left: 10px;
}
.jp-layout-metadataList .address dt {
	width: 90px;
	margin-bottom: 2px;
}
.jp-layout-metadataList .address dd {
	width: 250px;
	margin-bottom: 2px;
}

.jp-layout-metadataList .linked ul {
	padding-left: 15px;
}

.jp-layout-metadataList .linked ul .jp-layout-clickLabel {
	font-weight: bold;
}

.jp-layout-metadataList {
	float: left;
	list-style: none outside none;
	overflow: hidden;
}

.jp-layout-metadataList li span {
	float: left;
	font-style: italic;
	padding-right: 10px;
	text-decoration: underline;
}

.jp-layout-metadataList li p {
	padding-left: 20px;
}

p.jp-layout-metadata-list {
	margin-top: 0px;
}

.jp-layout-tableOfContent {
	clear: both;
}

.jp-layout-hidden-Button {
	background: url("../images/enlargeButton_small.png") no-repeat scroll 0 0
		transparent;
	color: white;
	display: none;
	font-weight: bold;
	height: 50px;
	left: 50%;
	margin: -13px auto 0 -13px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 50px;
	z-index: 2;
}

.jp-layout-label {
	margin-right: 10px;
}

.jp-layout-label:AFTER {
	content: ":";
}

.jp-layout-clickLabel {
	margin: 2px 0;
}

.jp-layout-clickLabel a {
	color: #4B4E49;
	font-weight: bold;
}

.jp-layout-clickLabel .popover {
	max-width: 700px;
}
.jp-layout-clickLabel .popover .popover-content {
	font-size: 0.8rem;
}

#resultListHeader {
		margin-bottom: 10px;
}

#resultPaginator {
	clear: both;
	text-align: center;
}
#resultPaginator input.form-control {
	width: 60px;
}
.pagination-jumper {
	padding-left: 5px;
}

.jp-metadata dt {
    clear: left;
    float: left;
    font-style: italic;
    text-align: right;
    width: 130px;
    margin-bottom: 4px;
}
.jp-metadata dd {
    float: left;
    margin-bottom: 4px;
    margin-left: 20px;
}
.jp-metadata dt:AFTER {
	content: ": "
}

.jp-layout-object-editing {
	border-bottom: medium none;
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 20px;
	padding: 0;
}

.jp-layout-object-editing>li:first-child {
	border-top: medium none;
	margin-top: 0;
	padding-top: 0;
}

.jp-layout-object-editing>li {
	border-top: 1px solid;
	margin-top: 20px;
	padding-top: 10px;
}

.objectEditingButton {
	color: #494949;
	cursor: pointer;
}

.objectEditingButton:hover {
	text-decoration: underline;
}

.objectEditingButton select {
	width: 200px;
}
.objectEditingButton i {
	margin-left: 6px;
}

.jp-layout-tableOfContent a.title {
	font-weight: bold;
	margin-bottom: 4px;
	font-size: 1.1rem;
	font-style: normal;
}

.jp-layout-tableOfContent > ul {
	display: block;
}

.jp-layout-tableOfContent > ul li{
	margin-bottom: 2px;
}

.resultPaginator {
	margin-top: 20px;
}

.resultPaginator>span {
	font-weight: bold;
	margin-right: 10px;
}

.jp-layout-hMenu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.jp-layout-hMenu li {
	display: inline-block;
	padding: 0 10px;
}

#globalHeader {
	background-color: white;
}

#globalHeader a {
	font-weight: bold;
}

#globalHeader .navbar-right{
	margin-right: 0px;
}

#jp-edit-menu-button {
	padding-top: 8px;
	background-color: rgba(255,255,255,0.5);
}

#header {
	height: 210px;
	background-position: left bottom;
	background-repeat: no-repeat;
}

#logo {
	background-position: left top;
	background-repeat: no-repeat;
	clear: both;
	height: 111px;
	margin-bottom: 3px;
	background-position: center;
}

#logo .logoDate {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding-top: 3px;
	color: white;
	font-size: small;
	font-weight: bold;
}

#logo .logoTitle {
    color: white;
    display: table-cell;
    height: 115px;
    padding: 0 30px;
    vertical-align: middle;
}

.logo.container {
	padding-top: 12%;
}

.logo.container img {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 56%;
}

#searchBar {
	background-color: #859198; 
	padding: 5px 29px 5px;
	min-height: 3.3em;
}

#searchBar .dropdown-menu .fa-fw {
	margin-left: -6px;
	margin-right: 6px;
}
#searchBar button.dropdown-toggle {
	padding: 6px 8px;
}
#searchBar button.dropdown-toggle .fa-fw {
	margin-right: 2px;
}

/*#searchBar .input-group-addon {*/
	/*background-color: #fff;*/
/*}*/

#searchDropDownButton, #inputField, #searchLoupe {
	background: rgba(255,255,255,0.8);
}

.jp-input-with-groupaddon {
	border-right: none;
	box-shadow:none;
}

.jp-input-with-groupaddon:focus {
	box-shadow: inset 1px 0 1px rgba(0,0,0,.075), -2px 0 2px  rgba(102,175,233,.75);
}

.jp-input-with-groupaddon:focus + .input-group-addon {
	border-color: #66afe9;
	box-shadow: inset -1px 0 1px rgba(0,0,0,.075), 2px 0 2px  rgba(102,175,233,.75);
}

.jp-input-with-groupaddon + .input-group-addon {
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.glyphSearchBar{
	cursor: pointer;
}

#main {
	overflow: hidden;
    padding: 1px 29px 49px;
	background-color: white;
}

@media(min-width: 768px) {
	#main {
		min-height: 580px;
	}
	.jp-layout-hits {
		min-height: 480px;
	}
}
@media(max-width: 767px) {
	#main {
		min-height: 420px;
	}
}

#main a:hover {
	text-decoration: underline;
}

#main .list-group a:hover {
	text-decoration: none;
}

@media(max-width: 767px){
	#advancedSearchForm > div > .col-sm-8.form-group.col-xs-12, #advancedSearchForm > div.col-sm-12 {
		padding: 0;
	}
}

@media(min-width: 768px){
	#advancedSearchForm .jp-layout-advancedSearchInput{
		height: 1.8em; 
		padding-top: 0; 
		padding-bottom: 0;
	}
}

.jp-layout-advancedSearchLabel{
	padding-left: 0; 
	font-size: 15px;
}

.jp-layout-advancedSearchRadioGr label:last-child{
	margin-left: 0;
}

.jp-layout-advancedSearchHead {
	font-weight: bold; 
	margin-top: 2em;
	padding-left: 0;
}

#resultList .jp-layout-derivate, #jp-tableOfContent .jp-layout-derivate {
	width: auto;
}


#resultList .jp-layout-derivate > img {
	height: 63px;
	width: auto;
}

#main .jp-content-block ~ .jp-content-block {
	border-top: 1px solid #dbdbdb;
	padding-top: 15px;
	margin-top: 15px;
}

.jp-layout-derivateList .jp-layout-derivate .edit {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#resultList .jp-layout-derivateList .jp-layout-derivate .thumbnail img, .jp-layout-tableOfContent .jp-layout-derivateList .jp-layout-derivate .thumbnail img {
	width: 80px;
}

.jp-content-metadata {
	
}

.jp-content-thumbnail {
	
}

.jp-content-thumbnail .jp-layout-derivate a.thumbnail > img {
	max-height: 370px;
}

@media(max-width: 767px) {
	.jp-content-thumbnail .jp-layout-derivate a.thumbnail > img {
		max-height: 270px;
	}
}

@media (min-width: 768px) and (max-width: 992px){
	.jp-layout-derivateList .jp-layout-derivate img {
		width: 100%;
	}
}

.jp-layout-derivateList .jp-layout-derivate img.logo {
	width: 100px;
}

.jp-layout-label + .jp-layout-inList:BEFORE {
	content: "";
}

.jp-layout-inList:BEFORE {
	content: "; ";
}

.jp-layout-metadaInSearchResults {
	list-style-type: none;
	padding-left: 0px;
}

.jp-layout-admin ul {
	margin: 0px;
	padding: 0px;
}
.jp-layout-admin ul li {
	border: none;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.jp-layout-admin > h1 {
	margin-left: 0.5em;
}

#jp-layout-globalmessage-editor #message {
	height: 8.5em;
}

@media (max-width: 767px) {
	#jp-layout-globalmessage-editor .panel-body div:not(:last-child), #jp-layout-globalmessage-editor .panel-body > div > div, #jp-layout-globalmessage-editor .panel-body > div > label{
		padding: 0;
	}
}
.jp-import-sru {
	margin-top: 12px;
}
.jp-import-sru .result {
	margin-top: 14px;
}
.jp-import-sru .result .jp-metadata {
	margin-top: 16px;
}
.jp-import-sru .doubletCheck .title {
	font-weight: bold;
}

#ckeditorContainer {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

.ckeditorButtons{
	list-style-type: none;
	margin-top: 15px;
	text-align: right;
}

ul.ckeditorButtons li {
    display: inline-block;
    margin: 0 5px;
}
ul.ckeditorButtons li:last-child {
	margin-right: 0;
}

.jp-layout-maintitle, #resultList, #jp-breadcrumb-container, .jp-layout-object-editing > li {
	border-color: #DBDBDB !important;	
}


.user-login fieldset {
	border: none;
}
.user-login .type-text label {
    display: inline-block;
    padding-right: 10px;
    text-align: right;
    width: 100px;
}
.user-login .type-text input {
	width: 220px;
}
.user-login .type-button {
	padding-top: 12px;
}

.user-editor .editorCell .editorList {
	width: 150px;
}

.user-details #buttons form {
	display: inline-block;
	margin: 14px 5px;
}
.user-details .user tr th {
    padding-right: 12px;
    text-align: right;
    vertical-align: top;
}
.user-details .user tr td dl {
	margin: 0px;
}

.user-list-users .user {
	margin-top: 18px;
    text-align: left;
    width: 800px;
}

#metaData, #files {
    padding: 10px 0px;
    width: 100%;
}
#metaData td, #files td {
	padding: 2px 0px;
}
#metaData .metaname, #files .metaname {
    width: 20%;
    font-weight: bold;
    background-color: transparent;
    color: black;
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
}
#metaData .metavalue, #files .metavalue {
    width: 80%;
    background-color: white;
    color: black;
    padding-left: 10px;
}
#files .metaname, #files .metavalue{
    width: auto;
}
#metaData .metahead, #files .metahead{
    color: #15516E;
    font-weight: bold;
    background-color: transparent;
}
#files .metahead {
	text-align: left;
}

#metaData .adressBox {
}
#metaData .addressType {
    font-weight: bold;
}
#metaData .address {
    padding-left: 2em;
}
#metaData .derivateBox {
}
#metaData .derivateHeading {
    font-weight: bold;
}
#metaData .derivate {
    padding-left: 2em;
}
#files td .inputDeleteFile {
	display: block;
	background-image: url("../images/button_delete.gif");
	width: 16px;
	height: 16px;
}
#files td img.inputAddUrn {
	display: block;
	background-image: url("../images/addnbn.gif");
	width: 29px;
	height: 22px;
}

#resultList h3{
	font-size: 16px;
}

.message-wrapper {
	padding: 9px;
}

.jp-layout-message {
	margin-bottom: 0;
}

.form-login {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 23%;
	margin-top: 10%;
}

.form-login .control-label {
	display: none;
}

.form-login .form-control {
	max-width: 193px;
	margin-bottom: 10px;
}

/*******************************************************
* Header Stuff 
********************************************************/
.jp-layout-mainHeader-UlLeft{
	padding: 10px; 
	margin-bottom: 0;
} 

.jp-layout-mainHeader-LiPaPushleft{
	padding-left: 7px !important;
}

.jp-layout-mainHeader-SeperatorRight{
	border-right: 2px solid #000; 
	padding-right: 13px !important; 
}

.jp-navigation-topHeader-UlRightWraper > .jp-layout-mainHeader-SeperatorRight > a{
	font-weight: normal !important;
}

.jp-layout-mainHeader-SeperatorRight > a:hover{
	color: #000;
	text-decoration: none !important;
}

.jp-navigation-topHeader-ImgPush{
	padding-right: 4px;
}

.jp-navigation-topHeader-DropdownBorder{
	border: none;
}

.jp-navigation-topHeader-DropdownBorder .caret {
	margin-left: 0.3em;
}
/*******************************************************
* Header Stuff END
********************************************************/

textarea {
	resize:none;
}

.jp-layout-searchList h2 {
	font-size: 1.4em;
}

.jp-layout-searchList .jp-layout-facet-group-head {
	font-size: 1.2em;
}

.jp-layout-searchList .dt-collapse{
	width: 100%;
	padding-left: 0.1em;
	cursor: pointer;
}

.jp-layout-search-sidebar-group {
	border-top: 1px solid #A8A9AA;
	margin-top: 10px;
}
.jp-layout-search-sidebar-group:first-child {
	border-top: none;
}

.dt-collapse i, .dt-collapse span, .jp-layout-resultLCaption {
	color: #008CC9;
}

.dt-collapse .fa-sort-asc{
	float: right;
	padding-right: 0.7em;	
	padding-top: 7px;
}

@media (min-width: 768px) and (max-width: 792px){
	.dt-collapse .fa-sort-asc, .dt-collapse .fa-sort-desc{
		padding-right: 0;
	}
}

.dt-collapse.collapsed .fa-sort-asc, .dt-collapse .fa-sort-desc{
	display: none;	
}

.dt-collapse.collapsed .fa-sort-desc{
	display: inline-block;
	float: right; 
	padding-right: 0.7em;
}

.jp-layout-searchResult-style{
	font-size: 1.4em; 
	font-weight: bold;
	border-bottom: 1px solid #A8A9AA;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

.jp-list-goupr-special .list-group-item{
	borde-color: #C6C7C8 !important;
}

.jp-list-group-special .list-group-item:first-child{
	border-top: none;		
	border-left: none;
	border-right: none;
	padding-left: 0.2em;
	padding-right: 0.8em;
}

.jp-list-group-special .list-group-item:not(:first-child){
	border-left: none;
	border-right: none;
	padding-left: 0.2em;
	padding-right: 0.8em;
}

.jp-list-group-special .list-group-item:last-child{
	border-bottom: none;
}

.jp-list-group-special a, .dt-collapse {
	text-decoration: none !important;
}

.jp-layout-hits .jp-objectlist .jp-objectlist-object:not(:first-child){
	border-top: 1px solid #C6C7C8;
	padding-top: 15px;
}
.jp-objectlist > .jp-objectlist-object > .jp-objectlist-thumbnail {
	float: left;
}

.jp-objectlist > .jp-objectlist-object > .jp-objectlist-metadata {
	margin-left: 105px;
}

#resultList .sortSelect {
	width: 100% !important;	
}

.jp-list-group-special > a.selected, .jp-list-group-special > a.list-group-item:hover{
	background-color: #5EC5ED;
	color: #fff;
	margin-left: -0.5em !important;
	margin-right: -0.5em !important;
	padding-left: 0.6em !important;
	padding-right: 1.4em !important;
}

.jp-list-group-special a .icon.selected:before  {
	content: "\f00d";
	font-family: FontAwesome;
	width: 22px;
	display: inline-block;
}

.jp-layout-searchList {
	padding: 0;
}

.jp-layout-searchBarAdvanced a{
	color: #fff;
}

.jp-layout-mynavbarbutton .icon-bar{
	background-color: #008BD0;
}

.jp-layout-mynavbarbutton{
	margin: -0.2em 0.1em 0 0;
	border: 1px solid #008BD0;
}

#globalHeader .jp-layout-mynavbarbutton{
	margin: 2px;
}

/* Medium devices Desktops (≥992px) */
@media (min-width: 992px) {
}

@media (max-width: 382px){
	#resultListHeader > .jp-list-group-special.list-group.visible-xs > a{
		width: 100% !important;
	}
}

@media (min-width: 561px) and (max-width: 767px){
	#resultListHeader > .jp-list-group-special.list-group.visible-xs > a{
		width: 33% !important;
	}
}

.jp-layout-triangle:before {
			/* Rahmen nur an einer Seite einblenden */
/* 			border-color: #A8A9AA transparent transparent transparent ; */
			border-style: solid;
	    border-width: 16px;
	
	    /* Pseudo-Element stylebar machen */
	    content: " ";
	    display: block;
	    height: 0;
	    width: 0;
		  position: absolute;
}

/* Extra small devices Phones (<768px) */
@media (max-width: 767px) {
	.logo.container img{
		width: 77%;
	}

	.form-login {
		width: 59%;
		margin-top: 20%;
	}

	#resultListHeader{
		border-bottom: 1px solid #A8A9AA;
		padding: 0 0 10px 0; 
		margin: 0;
		padding-top: 0 !important;
	}
	
	.jp-layout-resultLCaption{
		margin-top: 10px;
	}
	
	.jp-layout-triangle:before {
	  border-color: #A8A9AA transparent transparent transparent ;
	  left: 1em;
	  top: 0.5em;
	}

	.jp-layout-triangle {
	  padding-left: 60px;
	  position: relative;
	}
	
	.jp-layout-searchResult-style .jp-layout-triangle:nth-child(2):before{
		border-color: #fff transparent transparent transparent;
		top: 0.45em;
		z-index: 1;
	}
	
	.jp-layout-searchResult-style{
		margin-bottom: 1.3em;
	}
	
	.jp-layout-searchList{
		max-height: 100%;
		border-bottom: 1px solid #A8A9AA;
	}

	.dt-collapse .fa-sort-asc{
		padding-right: 0.5em;
	}
	
	#resultListHeader > .jp-list-group-special.list-group.visible-xs{
		margin-top: 10px;
	}
	
	#resultListHeader > .jp-list-group-special.list-group.visible-xs > a{
		width: 50%; 
		float: left; 
		border-radius: 25px; 
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-right: 15px !important;
	}
	
	.jp-layout-maintitle.jp-layout-border{
		font-size: 1.1em;
	}
	
	#searchBar{
		padding-left: 10px; 
		padding-right: 10px;
	}

	.jp-layout-clickLabel{
		word-wrap: break-word;
	}

	#main{
		padding: 1px 17px 49px;
	}

	#searchBar > #searchForm > .row > .col-sm-9, #resultList > .col-sm-3{
		padding: 0;
	}
}

@media (min-width: 1024px) {
	body {
		margin: 0 auto;
		width: 1024px;
	}
}

/* Small devices Tablets (≥768px) */
@media (min-width: 768px) {	
	.jp-layout-metadataList > dt:not(:first-child),.jp-layout-metadataList > dd:not(:nth-child(2)) {
		border-top: 1px solid #dbdbdb;
		padding-top: 5px;
	}
	
	.jp-layout-searchResult-style{
		border-top: 1px solid #A8A9AA;
	}
	
	.jp-navigation-topHeader-DropdownBorder, .open .jp-navigation-topHeader-DropdownBorder.btn-default{
		transition: background-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	.jp-navigation-topHeader-DropdownBorder:hover, .jp-navigation-topHeader-DropdownBorder:focus, .jp-navigation-topHeader-DropdownBorder:active, .open .jp-navigation-topHeader-DropdownBorder.btn-default{
		background-color: rgba(255,255,255, .50) !important;
		box-shadow: inset 0 0 8px rgba(102,175,233,.6);
	}
		
	.jp-navigation-topHeader-DropdownMenu{
		min-width: 55px; 
		margin-top: 0.3em !important;
		margin-right: -0.3em;
	}
	
	.jp-navigation-topHeader-DropdownMenu > li > a{
		padding-left: 0; 
		padding-right: 0;
	}
	
	.jp-navigation-topHeader-UlRightWraper{
		padding: 10px; 
		margin-bottom: 0;
		float: right;
	}
	
	.jp-navigation-topHeader-UlRightWraper > li > a{
		padding: 0;
	}
	
	.jp-navigation-topHeader-UlRightWraper > li:not(:last-child){
		padding: 0 0.35em 0 0.65em;
	}
	
	.jp-navigation-topHeader-UlRightWraper > li:last-child{
		padding: 0;
	}
	
	.jp-navigation-topHeader-UlRightWraper > li:last-child > a{
		padding: 0 5px;
	}
	
	.jp-navigation-topHeader-UlRightWraper > li > a:focus, .jp-navigation-topHeader-UlRightWraper > li > a:hover{
		text-decoration: underline;
		background-color: #fff;
	}
	
	.jp-layout-triangle:before {
	    border-color:transparent transparent transparent #9C9E9F;
	    left:-3.077em;
	    top:0.7em;
	}

	.jp-layout-triangle {
	    padding-left:60px;
	    position:relative;
	}

	#resultList .jp-layout-triangle:nth-child(2):before{
		border-color:transparent transparent transparent #fff;
		left:-3.2em;
	}

	#resultList .jp-layout-hits {
		border-left: 1px solid #9C9E9F;
		padding-left: 3em;
		margin-left: -1px;
	}

	.jp-navigation-topHeader-DropdownBorder.btn:active, .jp-navigation-topHeader-DropdownBorder.btn.active{
		box-shadow: none;
	}
	
	#resultList > .col-sm-3{
		border-right: 1px solid #9c9e9f;
		padding-left: 0;
	}
	
	.jp-layout-sharpBorderRight {
		border-top-right-radius: 0; 
		border-bottom-right-radius: 0; 
		border-right: 0 none
	}
	
	.jp-layout-sharpBorderLeft {
		border-top-left-radius: 0; 
		border-bottom-left-radius: 0;
	}
	
	.jp-layout-floatLeftNoXS {
		float: left !important;
	}
}

.jp-layout-mcbreadcrumb{
	margin: 0;
	padding-left: 0;
	background-color: #fff;
}

.jp-layout-maintitle .jp-layout-triangle:before {
  border-color: #dbdbdb transparent transparent transparent ;
  left: 1.3em;
  top: 0.85em;
  border-width: 13px;
}

.jp-layout-maintitle .jp-layout-triangle {
  padding-left: 60px;
  position: relative;
}

.jp-layout-maintitle .jp-layout-triangle:nth-child(2):before{
	border-color: #fff transparent transparent transparent !important;
	top: 0.75em;
	z-index: 1;
}

@media (max-width: 768px) {
	.jp-layout-maintitle .jp-layout-triangle:before {
		top: 1.1em;
	}
	.jp-layout-maintitle .jp-layout-triangle:nth-child(2):before{
		top: 1em;
	}
}

.metadata .jp-layout-derivateList > .jp-layout-derivate {
	width: 100%;
}

.jp-layout-white{
	background-color: white;
}

.jp-layout-colorBlue{
	color: #008cc9; 
}

#inputContainer {
	margin-top: 5px;
}

.jp-layout-errorBox {
	clear: both;
	margin-bottom: 0;
}

#lightbox-new-derivate-main{
	min-height: 150px;
	max-height: 500px;
	overflow: hidden;
	position: relative;
}

#lightbox-new-derivate-main > table{
	width: 100%;
}

#lightbox-new-derivate-hint{
	text-align: center;
	position: absolute;
	top: 45%;
	width: 100%;
}

#lightbox-new-derivate-error{
	float: left;
	display: inline-block;
	width: 300px;
	text-align: left;
}

#jp-main, #jpNavTop li a, #searchDropDownButton, #searchLoupe {
	color: #615f5f;
}

#jpNavTop li a {
	padding: 10px 11px;
}

#jpNavTop li a:hover {
	color: black;
}

body {
	background-color: white;
}

#globalHeader {
	background-color: transparent;
}

@media (min-width: 768px) {
	#jpNavTop .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	#jpNavTop .navbar-collapse {
		text-align: center;
		padding-top: 5px;
	}
}

#jpNavTop.navbar-default {
	background-color: transparent;
	border-color: transparent;
	margin-bottom: 0px;
	font-size: small;
}

#languageMenu .btn-default {
	background-color: transparent;
}

#searchBar {
	background-color: transparent;
}

#searchBar .inputFields {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.opacity {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.5;
}

#jp-header.navbar-default {
	background-color: white;
}

#jpNavTop.container {
	width: 472px;
}

#jpNavTop.container .navbar-nav > li > a {
	color: #615f5f;
}

#jpNavTop.container .navbar.navbar-default {
	width: 472px;
	background-image: none;
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

#searchBar.container {
	width: 704px;
	padding-top: 84px;
}

.info.container {
	width: 80%;
	font-size: 12pt;
	text-align: center;
	padding-top: 45px;
	color: #615f5f;
}

#portfolio.container {
	width: 151px;
	padding-top: 55px;
}

#portfolio.container a {
	background-color: #615f5f;
	color: white;
}

#navbar-collapse-globalHeader .jp-navigation-topHeader-DropdownBorder {
	background-color: transparent;
}
