@CHARSET "UTF-8";

table.editor{
	table-layout: fixed;
	max-width: 966px;
}

.editorPanel{
	table-layout: fixed;
	max-width: 966px;
}

.editorHeadlines{
	font-weight: bold;
	text-align: center;
	height: 36px;
}

.editorHeadlines label{
	border-bottom: 1px solid;
	display: block;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.editorSubHeadlines{
	font-weight: bold;
}

.editorLabel{
	width: 200px;
	display: block;
	padding-right: 5px;
	text-align: right;
}

.editorMandatory{
	width: 200px;
	display: block;
	padding-right: 5px;
	text-align: right;
}

.editorCell {
	text-align: left;
	table-layout: fixed;
	width: 956px;
}

.editorCell .form-control{
	width: 630px;
	resize: none;
}

.editorCell .form-control.narrow{
	width: 582px;
}

.editorCell .form-control.s_narrow{
	width: 506px;
	margin-left: 20px;
}

.editorPersName label{
	width: 100px;
}

.editorPredSucc label{
	width: 45px;
}


.editorPredSucc, .editorPersName {
	margin-right: 10px;
	width: 630px;
}

.editorList{
	width: 630px;
	table-layout: fixed;
}

input.editorList{
	width: auto;
}

.editorTextfield{
	width: 630px;
}

.editorTextarea{
	width: 630px;
	resize: none;
}

.editorRepeater .editorTextfield{
	width: 630px;
}

.editorRepeater .editorPanel{
	margin-left: -2px;
}

.editorRepeater .editorCell .editorCell{
	padding-left: 6px;
}

label.editorText {
	font-weight: bold;
}

.editorRepeater .editorCell label.editorText {
	font-weight: normal;
}

.editorButtons{
	border-top: 1px solid;
	padding-top: 10px;
}

.editorButtons .editorPanel{
    float: right;
    margin-right: 63px;
}

.editorOutputCell{
	min-width: 700px;
}

.editorButtons .editorButton{
	margin-left: 10px;
}

/*person*/
.editorPersonNameR .editorTextfield{
	width: 545px;
}

.editorPersonNameR label.editorText{
	font-weight: normal;
}

.editorPersonName .editorTextfield{
	width: 530px;
}

.editorPersonFreeText .editorTextfield{
	width: 525px;
}

/*user*/
.editorUButtons{
	border-top: 1px solid;
	padding-top: 10px;
}

.editorUButtons .editorPanel{
    float: right;
    margin-right: 33px;
}

.editorUButtons .editorButton{
	margin-left: 10px;
}

.editorPassword{
	width: 630px;
}

/*contact*/
.editorCButtons{
	border-top: 1px solid;
	padding-top: 10px;
}

.editorCButtons .editorPanel{
    float: right;
}

.editorCButtons .editorButton{
	margin-left: 10px;
}

/*classification*/
.editorClassLabel .editorTextfield{
	width: 545px;
}

.editorClassLabel .editorList{
	width: 550px;
}

/*acl*/
.editorLabelACL{
	width: 100px;
	display: block;
	padding-right: 5px;
	text-align: right;
}

.editorRepeater .editorCell .editorRepeaterACL .editorCell{
	padding-left: 26px;
}

.editorRepeater .editorCell .editorRepeaterACL .editorCell .editorList{
	width: 610px;
}

.editorRepeater .editorCell .editorRepeaterACL .editorCell .editorTextfield{
	width: 604px;
}

.editorButtonsACL{
	border-top: 1px solid;
	padding-top: 10px;
}

.editorButtonsACL .editorPanel{
    float: right;
    margin-right: 126px;
}

/*search-expert*/
.editorButtonSearch{
	float: right;
}

.twoButtons {
	padding-right: 5px;
}

/*personSelect*/
#personSelect-modal > .modal-dialog{
	width: 930px;
}

#personSelect-modal-body{
	padding-bottom: 0px;
}

#personSelect-select .popover-content{
	height: 310px;
}