@CHARSET "UTF-8";

.journalList .tab-nav {
	display: inline-block;
	list-style: none;
	padding: 0px;
	border-bottom: none;
    margin-left: 5%;
}

.journalList .tab-panel {
	display: block;
	padding: 10px 0px;
	clear: both;
}

.journalList .tab-panel>ul {
	padding: 0px;
}

.journalList .tab-panel .publisher a {
	color: #2A89C1;
}

.journalList .journal-title {
	margin-bottom: 2px;
}

.journalList .tab-panel ul {
	list-style: none;
}

.journalList .tab-panel h3 a {
	font-size: medium;
}

.journalList {
	padding-top: 8px;
	background-color: white;
}

.journalList .atoz {
	border-bottom: 1px solid #CCCCCC;
	font-size: 0.95rem;
	font-weight: bold;
	padding: 0px;
}

.journalList .tab-nav li {
	display: inline;
	padding: 0px 2px 0px 3px;
	margin: 2px;
	cursor: default;
}

.journalList .tab-nav li.selected-tab {
	border: 1px solid;
}

.journalList .tab-nav li {
	border: 1px solid transparent;
	color: #BBB;
}

.journalList .tab-nav li.active {
	cursor: pointer;
	color: #333;
}

.journalList .tab-panel li {
	padding-bottom: 15px;
}

.journalList .atoz .filter {
	border: 1px solid #999;
	font-size: 0.8rem;
	padding: 3px 19px 3px 3px;
	width: 125px;
	height: 24px; 
	margin-top: -2px;
}

@media(min-width: 992px){
	.journalList .atoz .filter {
			float: right;
	}
}

.journalList .ui-msg {
	font-style: italic;
}

.jp-layout-atozilter{
	padding: 0px;
    margin-bottom: 10px;
}

#atozFilterRemoveIcon{
	cursor: pointer;
	visibility: hidden;
}

#atozFilterRemoveButton {
	background-color: transparent;
}

@media(max-width: 992px){
	.jp-layout-atozilter{
		max-height: 2em;
	}
	#atozFilterRemove {
		left: 8.3em;
		top: -1.56em;
	}
}

.facetButton:hover {
	cursor: pointer;
	color: #008BD0;
}