@CHARSET "UTF-8";
.jp-moveObjGUI .jp-tree-children {
	height: 250px;
	overflow: auto;
}

.jp-moveObjGUI .jp-tree-view li i{
	margin-right: 7px;	
}

.jp-moveObjGUI .jp-tree-view li i+a{
	display: inline;
	margin-left: 5px;
}

.jp-moveObjGUI .jp-tree-view li {
	list-style: none;
}

.jp-moveObjGUI .jp-tree-view li.listBullet {
	list-style: disc;
	margin-left: 18px;
	padding-left: 6px;
}

.jp-moveObjGUI .jp-tree-view > ul {
	margin-left: 0px;
}

.jp-moveObjGUI .folder {
	color: #0088CC;
}

.jp-moveObjGUI .folder:HOVER {
	cursor: pointer;
}

.jp-moveObjGUI .breadcrumbContainer ul.breadcrumb{
	height: 36px;
}

.jp-moveObjGUI .formText {
	margin-bottom: 20px;
}

.jp-moveObjGUI .form-actions button.btn {
	margin-right: 10px;
}

.pagination > li:HOVER {
	cursor: pointer;
}