#users, #groups {
  width: 170px;
  float: left;
}

#usersList, #groupsList {
  overflow: auto;
  height: 244px;
  width:150px;
  position: relative;
}

#userManagement ul {
  margin-left: 0;
  padding:0;
}

.usersElement {
  display: block;
  color: black;
  border: solid 1px black;
  width: 150px;
  height: 40px;
  cursor: default;
}

#groups {
  margin-left: 40px;
}

.groupsElement {
  width: 155px;
  display: block;
  float: none;
 /* display: relative;*/
}

.groupsElement img {
  position: absolute;
  top: 0px;
  right: 0px;
}

#groupsList .clickable {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.avatar {
  float: left;
  width: 32px;
  height: 32px;
}

#trash {
  margin-left: 50px;
  margin-top: 100px;
}