/* =================================================================== */
/* template_mycoresample-1/CSS/style_navigation.css                    */
/* $Revision$ $Date$		       */
/* =================================================================== */

/* ==================================================== */
/* Style for the login and navigation row in JLZ	*/
/* ==================================================== */
td.login_navi_row {
    height: 31px;
}

td.login_row {
    /*height: 34px;*/
    background: #AEC6D4 url(../IMAGES/menu_pix.gif);
    background-repeat: repeat-x repeat-y;
    padding-left: 1.5%;
}

td.navi_row {
    width: auto;
    padding: 3px;
    text-align: center;
}

td.navi_row table{
    margin-right: 0px;
    margin-left: auto;
    margin-bottom: 3px;
}

/* Style for the Login-Window in JLZ */
table.login_window {
    font-size: 11px;
    font-weight : bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-style: none;
    border-width: 0px;
    min-width: 200px;
    width: 200px;
    vertical-align: middle;
    /*color: white*/
}
	
td.login_text {
    text-align: left;
}

td.user_id {
    text-align: left;
    padding-left: 3%;
    width: 104px;
    /*padding-bottom: 5px;*/
}

p.whitebox {
    margin: 0px;
    padding: 2px;
    background-color: white;
}

div.buttons {
    line-height: 5px;
    padding-left: 3px;
}

td.login_window a:link {
    color:  #455B7C;
    text-decoration: none;
}

td.login_window a:visited {
    color:  #455B7C;
    text-decoration: none;
}

td.login_window a:hover {
    color:  #AA5522;
    text-decoration: none;
}

td.login_window a:active {
    color:  #455B7C;
    text-decoration: none;
}

td.login_window a:focus {
    color:  #AA5522;
    text-decoration: none;
}

/* Navigation history line */
/*td.navi_history {
    height: 22px;
    background: white url(../IMAGES/navi_pix.gif);
    background-repeat: repeat-x repeat-y;
}*/

/* ==================================================== */
/* Style for the main menu				*/
/* ==================================================== */
td.menus {
    font-size: 11px;
    font-weight : bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-style: none;
    border-width: 0px;
    min-width: 200px;
    width: 200px;
    vertical-align: top;
}
						
div.main_menu {
    /*background-color: #EADFA5;*/
    background: #AEC6D4 url(../IMAGES/menu_pix.gif);
    background-repeat: repeat-x repeat-y
    vertical-align: top;
    min-width: 222px;
    width: auto;
    border-style: none;
    /*margin-left:20px;*/
}

/* ==================================================================================*/

/* =================================================================== */
/* Navigation below                                                    */
/* =================================================================== */
#navi_below_cell {
    padding: 3px;
    text-align: right;
}
#navi_below_cell table{
    margin-right: 0px;
    margin-left: auto;
    margin-bottom: 3px;
}

.navi_below th, .navi_below td, .navi_below a
{
    /*color: #15516E;*/ /* ocean */
    /* JLZ */
    color:  #AEC6D4;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.navi_below a
{
    /*color: #15516E;*/ /* ocean */
    /* JLZ */
    color:  #00877f;
    text-decoration: none;
} 
.navi_below a:hover
{
    text-decoration: underline;
}		
.navi_below .marked a
{
    text-decoration: underline;
}	

/* =================================================================== */
/* General Main navigation column                                      */
/* =================================================================== */
.navi_column
{
    background : #CAD9E0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: #0C374C;
}

/* =================================================================== */
/* General Main navigation column                                      */
/* =================================================================== */
#navi_history
{
    color: #00877f; 
    font-size: 11px;
    font-weight : bold;
    border: 0px solid black;
    width: 715px;
    height: 11px;    
    /*border-width: 5px;*/
    /*border-color: #14516E; */	/* taken out for JLZ */
    /*margin-right: 20px;*/
    margin-left: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /* JLZ */
    vertical-align: middle;
}
#navi_history a
{
    color: #12265F;
    font-weight : normal;
    text-decoration: none;
}
#navi_history a:hover
{
    text-decoration: underline;
}
/*#navi_history{*/
    /*text-align:left;*/
    /*padding-left: 3%;*/
    /*padding-bottom: 5px;*/
    /* JLZ */
    /*padding-left: 3%;*/
    /*height: 22px;*/
    /*background: white url(../IMAGES/navi_pix.gif);*/
    /*background-repeat: repeat-x repeat-y;*/


#navi_history_user{
    text-align:left;
    padding-left: 3%;
    /*padding-bottom: 5px;*/	/* changed for JLZ */
}

/* =================================================================== */
/* Main navigation menu                                                */
/* =================================================================== */
.navi_main
{
    /*background-color: #EADFA5;*/
    font-size: 11px;
    font-weight : bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-style: none;
    border-width: 1px solid black;
    min-width: 200px;
    width: 200px;
    /* JLZ */
    vertical-align: top;
}

.navi_main_content
{
vertical-align: top;
    min-width: 200px;
    padding-left: 25px;  
    text-align: top;
    width: auto;
    border-style: none;
    /* margin-left:20px; */	/* taken out for JLZ */
    /* JLZ */
}




/* JLZ ======================================== */
div.logo{
    /*background-color: #EADFA5;*/
    vertical-align: bottom;
    min-width: 100px;
    width: auto;
    border-style: none;
    /* margin-left:20px; */	/* taken out for JLZ */
    /* JLZ */
    background: #FFFAE5 url(../IMAGES/bg_pix.gif);
    background-repeat: repeat-x repeat-y
}

td.empty_box {
    /*height: 31px;*/
    height: 31px;
    background: #FFFAE5 url(../IMAGES/bg_pix.gif);
}
/* ============================================= */

.navi_main img{
    display:block;
}
.navi_main tr
{
    font-size: 11px;
}
.navi_main td
{
    font-size: 11px;
}
.navi_main th a:hover
{
    text-decoration: underline;
    
}
.navi_main th a
{
    /* color: #EFF4F6; */
    font-weight : bold;	
    /* JLZ */
    /*color:  #455B7C;*/
    color:  #00648b;
    
}
.navi_main a
{
    /* color: #EFF4F6; */
    font-weight : normal;
    text-decoration: none;
    /* JLZ */
    color:  #455B7C;
}
.navi_main a:hover
{
    text-decoration: underline;
}
.navi_main .marked a
{
    text-decoration: none;
}
