html, body {
    margin: 0px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
}
#second-line {
	text-align: left;
	vertical-align: top;
	width: 98%;   
}	
#div_navi_main { 
	padding: 0px;
	margin: 0px;
	height: 506px;
	width: 297px;
}
#navi_box {
	display: inline;
	width: 470px;
	height: 14px; 
	border: 0px;
	padding-top: 3px;
}
#navi_history {
	text-align: left;
	vertical-align: top;
	height: 14px; 
	margin:0px;
}
#navi_history a{
	color: #436767;
	text-decoration: none;
}
#navi_history a:hover{
	color: #436767;
	text-decoration: underline;
}
#navi_history_inside {
	padding: 2px;
	margin-left:2px;
	width: 99%;
	margin-right:0px;
	padding-right:0px;
}

#contentArea {
	margin: 2px auto;
	width: 100%;
}

#footer {
	width: max; 
	height:170px; 
	margin: 0px;
}
	
#login_div {
	text-align: left;
	vertical-align: bottom;
	padding: 0px;
	width: 200px;
	height: 25px; 
	padding-top: 50px;
}

#login_div[id] {
	padding-top: 47px;
	padding-bottom: 7px;
}

#login_div_inside {
	padding: 2px;
}
#thulb_logo { 
	vertical-align: bottom;
	text-align: right;
	padding-top: 50px;
	padding-right: 8px;
}
#fsu-logo { 
	vertical-align: top;
	text-align: right;
	padding-right: 8px;
}
#max-planck-logo {
	padding-left: 8px;
	vertical-align: top;
	text-align: left;
}

#contentWrapper{
	width: 98%;
}