@CHARSET "UTF-8";
#navigation_box ul a {
    color: white;
    text-decoration: none;
}
#navigation_box ul a:hover {
    text-decoration: underline;
}
#navigation_box ul li {
    padding-right: 5px;
}
#div_navi_main > ul.topList > li > a {
    background-color: #C7D2DB;
    margin-top: 2px;
    border: 0 none;
    color: #646567;
    display: block;
    font-family: verdana;
    font-weight: bold;
    height: 20px;
    padding-left: 15px;
    padding-top: 5px;
    text-decoration: none;
    width: 168px;
}
#div_navi_main > ul.topList > li > a:hover {
    background-color: #467491;
    color: white;
}
#div_navi_main > ul {
    padding-left: 0;
}