@CHARSET "UTF-8";

#logoDate{
	position: relative;
	left: 215px;
    top: 8px;
    font-size: large;
}

#logoTitle{
	position: relative;
	left: 215px;
    top: 16px;
    font-size: x-large;
    width: 450px; 
}