.pageHolder > .header {
	background-color: #333;
}
.pageHolder > .header .topBlock {
	color: #333;
}
.pageHolder > .header .topBlock a {
	color: #333;
}
.pageHolder > .header .bottomBlock {
	color: #FAFAFA;
}
.pageHolder > .header .bottomBlock a {
	color: #FAFAFA;
}
.pageHolder > .header .topBlock {
    background-image: url("/templates/template_cma/IMAGES/logo.png");
    height: 165px;
}
.pageHolder > .header .topBlock .gbv-logo {
	display: none;
}
.pageHolder > .header .topBlock .title {
	color: #333;
}
.pageHolder .editMenu .jp-layout-submenu-dropdown #ckeditorButton, .pageHolder .editMenu .jp-layout-submenu-dropdown #diagButton, .pageHolder .editMenu .jp-layout-submenu-dropdown a {
	color: #666;
}
.pageHolder > .header .bottomBlock a.selected {
    color: #333;
}