html, body {
    margin: 0px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
}

#border {
	border-top: 0px solid #BAB6A9; 
	border-left: 0px solid #BAB6A9; 
	border-right: 0px solid #BAB6A9;
	height : 100%; 
	width : 100%;
	}

#footer1 {
	width : 100%;
	height : 40px;
	border: 0px solid black;
	margin : 0px;
	}

#footer2 {
	width : 100%;
	text-align: left;
	vertical-align: top;
	}

#footer2-left {
	width : 240px;
	text-align: left;
	vertical-align: top;
	}

#footer2-right {
	width : 100%;
	text-align: left;
	vertical-align: top;
	}

#login_div {
	width: 200px; 
	height : 25px; 
	float : left;
	text-align: left;
	padding-top : 120px;
	padding-left : 55px;
}
#navigation {
	width : 335px;
	height : 25px;
    float: right;
	margin-top: 15px;
	text-align : right;
	margin-left: 300px;
    margin-right: 0px;
}
#banner {
	min-width: 990px;
	width : max;
	height : 140px;
	background: url(../IMAGES/banner_top_right_bg.gif);
}
#banner_left {
	width : 255px;
	height : 140px;
	border : 0px solid red;
	/*padding-top : 0px;*/
	/*padding-left : 0px;*/
	float: left;
}
#banner_right {
	right: 1px;
	text-align: right;
	position: absolute;
	width : 735px;
	height : 140px;
	border : 0px solid red;
	/*padding-top : 0px;*/
	/*padding-left : 0px;*/
	float: right;
}

#banner_right[id]{
	position: relative;
}

#div_navi_main {
	float: left;
	width : 230px;
	min-height : 156px;
	background-color: #a0dbdd;
	/*height : 200px;*/	
	padding-left : 25px;
	border: 0px solid black;
}

#contentArea {
	padding-left: 10px;
    border : 0px solid black;
}
#navi_under {
	width : 255px;
	height: 181px;
	float: left;
    border : 0px solid black;
}
#navi_all {
	width : 255px;
	float: left;
    border : 0px solid black;
}      	