@CHARSET "UTF-8";
#navigation_box ul a {
    color: white;
    text-decoration: none;
}
#navigation_box ul a:hover {
    text-decoration: underline;
}

#navigation_box ul li {
    padding-right: 5px;
}

#navigation_box {
    top: 0px;
}

#div_navi_main > ul.topList > li > a {
    background-color: #D8D9DA;
    border: 0 none;
    color: #000000;
    display: block;
    font-weight: bold;
    height: 18px;
    padding-left: 3px;
    padding-top: 3px;
    text-decoration: none;
    width: 156px;
}

#div_navi_main > ul.topList > li > a:hover {
    background-color: #C7C8C9;
    text-decoration: underline;
}

/*werden nicht überschrieben*/
#div_navi_main > ul > li > a {
   color: #000000;
    font-weight: normal;
    text-decoration: none;
    padding: 0 0 0 0;
}

#div_navi_main > ul > li > a:hover {
   text-decoration: underline;
}