@CHARSET "UTF-8";

.background {
    background-image: url("../IMAGES/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}

#logo {
    background-image: url("../IMAGES/logo.svg");
    background-size: 55%;
}