@CHARSET "UTF-8";
#logo {
	background-image: url("../IMAGES/logo.png");
}

.keywords {
	margin-bottom: 5px;
}
.keywords h3 {
	text-decoration: underline;
	display: inline;
}

.keywords .expander {
	background-position: left;
	background-repeat: no-repeat;
	cursor: pointer;
	padding-left: 15px;
}
.keywords .expand {
	background-image: url("../IMAGES/plus.png");

}
.keywords .collapse {
	background-image: url("../IMAGES/minus.png");
}

#jp-content-LColumn ul {
	list-style-type: none;
}

.keyWordDiv {
    display: inline;
}

.keyWordDiv:hover {
	cursor: pointer;
}