<servlet id="MCRRecycleBinServlet">
    <servlet-name>MCRRecycleBinServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRRecycleBinServlet</servlet-class>
</servlet>
<servlet id="MCRRecycleBinPageGenerationServlet">
    <servlet-name>MCRRecycleBinPageGenerationServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRRecycleBinPageGenerationServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>MCRRecycleBinServlet</servlet-name>
    <url-pattern>/servlets/MCRRecycleBinServlet/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>MCRRecycleBinPageGenerationServlet</servlet-name>
    <url-pattern>/recycleBin.xml</url-pattern>
</servlet-mapping>