<servlet id="MCRJPortalCLIServlet">
    <servlet-name>MCRJPortalCLIServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRJPortalCLIServlet</servlet-class>
</servlet>
<servlet id="MCRDuplicateFinderServlet">
    <servlet-name>MCRDuplicateFinderServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRDuplicateFinderServlet</servlet-class>
</servlet>
<servlet id="DerivateLinkServlet">
    <servlet-name>DerivateLinkServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.DerivateLinkServlet</servlet-class>
</servlet>
<servlet id="MCRJPortalCheckCommitDataServlet">
    <servlet-name>MCRJPortalCheckCommitDataServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRJPortalCheckCommitDataServlet</servlet-class>
</servlet>
<servlet id="MCRJPortalEditorCancelServlet">
    <servlet-name>MCRJPortalEditorCancelServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRJPortalEditorCancelServlet</servlet-class>
</servlet>
<servlet id="MCRJPortalIndexBrowserServlet">
    <servlet-name>MCRJPortalIndexBrowserServlet</servlet-name>
    <servlet-class>org.mycore.frontend.indexbrowser.MCRJPortalIndexBrowserServlet</servlet-class>
</servlet>

<servlet id="MCRRecycleBinPageGenerationServlet">
    <servlet-name>MCRRecycleBinPageGenerationServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRRecycleBinPageGenerationServlet</servlet-class>
</servlet>
<servlet id="MCRRecycleBinServlet">
    <servlet-name>MCRRecycleBinServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRRecycleBinServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>MCRRecycleBinPageGenerationServlet</servlet-name>
    <url-pattern>/recycleBin.xml</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>MCRRecycleBinServlet</servlet-name>
    <url-pattern>/servlets/MCRRecycleBinServlet/*</url-pattern>
</servlet-mapping>


<servlet-mapping>
    <servlet-name>MCRJPortalCLIServlet</servlet-name>
    <url-pattern>/cli</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>MCRDuplicateFinderServlet</servlet-name>
    <url-pattern>/servlets/MCRDuplicateFinderServlet/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>DerivateLinkServlet</servlet-name>
    <url-pattern>/servlets/DerivateLinkServlet/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>MCRJPortalCheckCommitDataServlet</servlet-name>
    <url-pattern>/servlets/MCRJPortalCheckCommitDataServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>MCRJPortalEditorCancelServlet</servlet-name>
    <url-pattern>/servlets/MCRJPortalEditorCancelServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>MCRJPortalIndexBrowserServlet</servlet-name>
    <url-pattern>/indexpage</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>OAIURNProvider</servlet-name>
    <servlet-class>org.mycore.oai.MCROAIDataProvider</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>OAIURNProvider</servlet-name>
    <url-pattern>/oai</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>OAIJPortalProvider</servlet-name>
    <servlet-class>org.mycore.oai.MCROAIDataProvider</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>OAIJPortalProvider</servlet-name>
    <url-pattern>/oai2</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>MCRDFGServlet</servlet-name>
    <servlet-class>org.mycore.iview2.frontend.MCRTileCombineServlet</servlet-class>
    <init-param>
        <param-name>org.mycore.iview2.frontend.MCRFooterInterface</param-name>
        <param-value>fsu.jportal.iview2.UrmelFooter</param-value>
    </init-param>
</servlet>

<servlet>
    <servlet-name>MCRDFGThumbServlet</servlet-name>
    <servlet-class>org.mycore.iview2.frontend.MCRThumbnailServlet</servlet-class>
    <init-param>
        <param-name>thumbnailSize</param-name>
        <param-value>150</param-value>
    </init-param>
</servlet>

<servlet-mapping>
    <servlet-name>MCRDFGServlet</servlet-name>
    <url-pattern>/servlets/MCRDFGServlet/*</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>MCRDFGThumbServlet</servlet-name>
    <url-pattern>/servlets/MCRDFGThumbnail/*</url-pattern>
</servlet-mapping>