@CHARSET "UTF-8";
#logo {
	background-image: url("../IMAGES/logo.png");
	background-repeat: no-repeat;
	background-position: left top;
	height: 115px;
}

#logo .logoTitle {
    color: white;
    font-size: 1.2em;
    margin: 0px;
    padding: 93px 0 0 115px;
}
