#contentArea {
    vertical-align: top;
    height: 85%;
    padding-top: 1em;
}
/*IE Fix to have content inside the table: stupid browser*/
#contentWrapper {
    width: 90%;
    margin: 0px auto;
}

#contentArea {
    color: #041B26;
    background-color: #EFF4F6;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight : normal;
    text-decoration: none;	
}
#contentArea .headline {
    font-weight : bold;
    padding: 3px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #041B26;
    margin-bottom: 1.5em;
}
#contentArea hr{
    height: 2px;
    color: #15516E;
    background-color: #15516E;
    border-style: none;
}
#contentArea a {
    color: #9A5B11;
    text-decoration: none;
    font-weight : normal;	
}
#contentArea a:hover {
    text-decoration: underline;
}
#contentArea input, input.helpButton, {
    border-style: outset;
    border-color: #15516E;
    border-width: 1px;
}
#contentArea input.radio, #searchMask input.checkbox, #searchMask select{
    border-style: inset;
    border-color: #15516E;
    border-width: 1px;
    margin: 2px;
    margin-left: 0px;
}
/* =================================================================== */
/* sitemap                                                             */
/* =================================================================== */
#sitemap {
    margin: 0px 30px;
}
#sitemap tr, #sitemap th, #sitemap td, #sitemap a {
    color: #9A5B11;
    background : #FFF;
    font-size: 10pt;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-weight : normal;           
    text-decoration: none;  
}
#sitemap a {
    color: #9A5B11;
    font-size: 10pt;
    text-decoration: none;
    font-weight : normal;   
}
#sitemap a:hover {
    text-decoration: underline;
}
/* headlines like "menu below..." */
#sitemap th {
    font-weight : bold;         
    text-align: left;       
    padding: 3px;   
    color: #041B26;
    background : #CAD9E0;       
    border-style: solid;
    border-width: 1px;
    border-color: #041B26;      
}
#sitemap td.mainMenuPoint {
  vertical-align: top;
}
#sitemap td.mainMenuPoint h2 {
    white-space: nowrap;
    border-style: solid;
    border-width: 1px;
    font-size: 10pt;
    margin: 0;
    margin-bottom: 10px;
    color: #454545;
    background : #EDEDED;   
    padding: 3px;           
    border-color: #454545;  
}
#sitemap td.mainMenuPoint h2 a {
    color: #454545;
    font-size: 100%;    
    font-weight : bold;         
    background: #EDEDED; 
}
#sitemap td.mainMenuPoint h2 a:hover {
    color: #9A5B11;
    font-weight : bold;         
    background: #EDEDED; 
}
#sitemap td.horizontal {
  padding: 10px;
}
#sitemap td.mainMenuPoint {
  padding: 0px;
  padding-bottom: 10px;
}

/* horizontal lists */
.horizontal ul, .horizontal li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
}
/* vertical lists */
td.mainMenuPoint {
  padding-left:0.5em;
  padding-bottom: 1.5em;
}
td.mainMenuPoint ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mainMenuPoint li {
  margin: 0;
  margin-left: 1em;
  color: #9A5B11;
}

.mainMenuPoint>ul>li:before {
  content: "\2022\20";
}
.mainMenuPoint>ul>li>ul>li:before {
  content: "\2218\20";
}
.mainMenuPoint>ul>li>ul>li>ul>li:before {
  content: "\0E4F\20";
}
.mainMenuPoint>ul>li>ul>li>ul>li>ul>li:before {
  content: "\25A0\20";
}
.mainMenuPoint>ul>li>ul>li>ul>li>ul>li>ul>li:before {
  content: "\25A1\20";
}
.mainMenuPoint>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li:before {
  content: "-\20";
}

/* =================================================================== */
/* userlogin module                                                    */
/* =================================================================== */

#userlogin {
}

#userlogin table {
	text-align: center;
}

#userlogin .header{
    text-align:center;
    font-weight: bold;
}

#userlogin .status{
    text-align: center;
    font-weight: normal;
    color: #ff0000;
}

#userlogin .button{
}

#userlogin .button_ar{
}

#userlogin td.inputField{
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
    border-color: #000000; /* black */
    width: 100px;    
}

#userlogin td.inputField_ar{
    font-weight: normal;
    padding-left: 5px;
    border-color: #000000; /* black */
    padding-right: 5px;
    width: 100px;
    text-align: right;    
}

#userlogin td.inputCaption{
    text-align: left;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    color: #FFFFFF; /* withe */
    background-color: #15516E; /* ocean */
    border-style: solid;
    border-width: 0px;
    border-color: #000000; /* black */     
    width: 200px;
}

#userlogin td.inputCaption_ar{
    text-align: right;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    color: #FFFFFF; /* withe */
    background-color: #15516E; /* ocean */
    border-style: solid;
    border-width: 0px;
    border-color: #000000; /* black */         
    width: 200px;
}

#userlogin .metaname {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

#userlogin .metaname_ar {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

#userlogin .metavalue {
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

#userlogin .metavalue_ar {
    background-color: #FFFFFF;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

#userlogin .metahead {
    font-size: 1.1em;
    font-width: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* =================================================================== */
/* search masks                                                        */
/* =================================================================== */

td.inputCaption{
    text-align: right;
    font-weight: bold;
    padding-right: 5px;
    color: black;
    background-color: transparent;
}
td.inputField{
    font-weight: bold;
    background-color: transparent;
    padding-left: 5px;
}
td.submitButton, a.submitButton, input.submitButton{
    color:#ffffff; 
    background-color:#7791ac;
    font-size: 0.9em;
    font-weight : normal;
    text-decoration: none;
    text-align: center;
    margin-left:10px;
    margin-right:10px;
    padding: 0px;
    width: 120px;
    height: 16px;
    border: 0px;
    }

/* =================================================================== */
/* result lists                                                        */
/* =================================================================== */

#resortForm, table.resultHeader{
    margin: 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #15516E;
    padding-bottom: 5px;
}
#resortForm table, table.resultHeader{
    width: 100%;
}
#resortForm table tr, table.resultHeader tr{
    height: 20px;
}
#resortForm td.resort, #resortForm td.resultCount, table.resultHeader td.resort, table.resultHeader td.resultCount{
    vertical-align: center;
}
#resortForm td.resultCount, table.resultHeader td.resultCount{
    text-align: right;
}
#resultList{
    margin: 5px 0px; /* top-bottom and left-right margin */
    width: 100%;
}
#resultList td.resultTitle, #resultList td.author{
    font-weight: bold;
    background-color: white;
}
#resultList td.author{
   text-align:right;
}
#resultList td.resultTitle a, #resultList td.author a{
    font-weight: bold;
}
#resultList div.description{
    margin-bottom: 3px;
}
#resultList td.description{
    padding: 3px;
    background-color: white;
    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-bottom-color: #EFF4F6; /* same as background */
}
#pageSelection{
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #15516E;
    padding: 5px 8px;
}
/* =================================================================== */
/* object meta data                                                    */
/* =================================================================== */

#metaHeading, #metaData, #files {
    width: 100%;
}
#metaHeading a img, #metaData a img, #files a img {
    border: none;
}
#metaHeading .titles{
    font-weight: bold;
    color: black;
    background-color: transparent;
}
#metaHeading .browseCtrl{
    text-align: right;
}
#metaData, #files{
    padding: 10px 0px;
}
/* IE Fix: Padding and inheritance is not his strength */
#metaData td, #files td{
    padding: 0px;
}
#metaData .metaname, #files .metaname {
    width: 20%;
    font-weight: bold;
    background-color: transparent;
    color: black;
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
}
#metaData .metavalue, #files .metavalue {
    width: 80%;
    background-color: white;
    color: black;
    padding-left: 10px;
}
#files .metaname, #files .metavalue{
    width: auto;
}
#metaData .metahead, #files .metahead{
    text-align: center;
    color: #15516E;
    font-weight: bold;
    background-color: transparent;
}
#metaData .adressBox{
}
#metaData .addressType{
    font-weight: bold;
}
#metaData .address{
    padding-left: 2em;
}
#metaData .derivateBox{
}
#metaData .derivateHeading{
    font-weight: bold;
}
#metaData .derivate{
    padding-left: 2em;
}
/* =================================================================== */
/* browse classifications                                              */
/* =================================================================== */

#browseClass{
    margin-left: 20px;
}
#browseClass td.img{
}
#browseClass td.numDocs{
}
#browseClass td.descr{
    padding-left: 10px;
}
#browseClass div.comment{
    font-style: italic;
}
tr.actrow{
    background-color:#CAD9E0;
}

/* =================================================================== */
/* Editor forms (see editor.xsl and org.mycore.frontend.editor.*       */
/* =================================================================== */

form.editor, input.editorButton, select.editorList, input.editorTextfield, input.editorPassword {
	font-size:100%; 
}
table.editorPanel, table.editorRepeater, table.editorList { 
	border-collapse:collapse; border-spacing:0; 
}
table.editorPanel, table.editorRepeater, table.editorList td, td.editorCell, td.editorPMUD, input.editorButton, input.editorCheckbox, input.editorRadio { 
	margin:0; padding:0; 
}
table.editorList {
	margin-top:1ex;
}
table.editorList td {
	padding-right:1ex;
}
input.editorTextfield, input.editorPassword {
	height:2.15ex;	
}
input.editorButton, input.editorTextfield, input.editorPassword, textarea.editorTextarea, label.editorText, select.editorList {
	margin:2px;
}
input.editorButton {
	padding-left:2px; padding-right:2px;
}
input.editorButton { 
	background-color:#14516e; color:white; 
}
input.editorRadio, input.editorCheckbox {
	margin-right:0.5ex;
}
label.editorRadio, label.editorCheckbox {
	vertical-align:top;
}
table.editor { 
	background-color:#CAD9E0; border:1px solid #7791ac; 
}
td.editorHeadline { 
	color:#FFFFFF; background-color:#15516E; padding:3px; 
}
td.editorValidationMessage { 
	color:#FFFFFF; background-color:#FF0000; padding:3px; 
}

/* Following is a complete list of all default CSS classes used in editors */ 

form.editor {}
table.editor {}
td.editorHeadline {}
table.editorPanel {}
table.editorRepeater {}
td.editorPMUD {}
a.editorAnchor {}
td.editorCell {}
label.editorText {}
input.editorTextfield {}
input.editorPassword {}
textarea.editorTextarea {}
input.editorButton {}
input.editorFile {}
.editorOutput {}
table.editorList {}
select.editorList {}
input.editorRadio {}
label.editorRadio {}
input.editorCheckbox {}
label.editorCheckbox {}
