/* =================================================================== */
/* template_mycoresample-1/CSS/style_general.css                       */
/* $Revision: 13375 $ $Date: 2008-04-10 09:50:25 +0200 (Do, 10 Apr 2008) $                                                   */
/* =================================================================== */

/* =================================================================== */
/* general colors                                                      */
/* =================================================================== */
/*
white:        #FFFFFF;
black:        #000000;
orange:       #F2CCA4;
ocean-light : #CAD9E0;
ocean-middle: #912045;
ocean:        #15516E;
ocean-dark:   #0C374C;
gray-light:   #969797;
winered:      #912045;
*/
/* =================================================================== */
/* general page                                                        */
/* =================================================================== */

html, body {
    background-color: white;
    color: #0C374C; /* dark-ocean */
    margin: 0px;
    font-family: Myriad Pro, Myriad, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
}

#maintable, .max {
   width: 100%;
   height: 100%;
   margin: 0px;
}
.minheight{
   height: 1%;
}
.maygrow{
   height: auto;
}
.autowidth {
    width: auto;
}
#logo{
    width: 220px;
    height: 117px;
    border-style: none;
    border-width: 0px;
    display: block;
}
#mainLeftColumn {
    width: 220px;
    height: 100%;
    vertical-align: top;
    background: #14516E url(../IMAGES/white20px.gif) repeat-y;
}
img.borderless{
    border: none;
}
/* =================================================================== */
/* footer                                                              */
/* =================================================================== */
#footer {
    color: #969797; /* gray-light */
    font-size: 10px;
    padding: 5px;
    text-align: right;
}
#footer th {
    font-size: 10px;
}
