/* =================================================================== */
/* template_mycoresample-1/CSS/style_content.css                       */
/* $Revision: 268 $ $Date: 2007-06-14 16:41:16 +0200 (Do, 14 Jun 2007) $                      */
/* =================================================================== */

/* =================================================================== */
/* content area                                                        */
/* =================================================================== */
#contentArea {
    vertical-align: top;
<!--    height: 85%;-->
    padding-top: 1em;
}
/*IE Fix to have content inside the table: stupid browser*/
#contentWrapper {
    width: 100%;

}

#contentArea {
    /* color: #041B26; */
    /* JLZ */
    color:  #115c11;
    /* background-color: #EFF4F6; */	/* taken out for JLZ, using standard JLZ background*/
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight : normal;
    text-decoration: none;
    border : 0px solid black;
	min-width: 700px;
    width: 70%;
}
#contentArea .headline {
    font-weight : bold;
    padding: 3px;
    border-style: none none solid none;
    border-width: 1px;
    /* border-color: #041B26; */
    /* JLZ */
    border-color:  #43351D;
    margin-bottom: 1.5em;
}
#contentArea hr{
    height: 2px;
    color: #43351D;
<!--    background-color: #15516E; -->
    border-style: none;
}
#contentArea a { 
    color: #115c11;
    text-decoration: none;
    font-weight : normal;	
}
#contentArea a:hover {
    text-decoration: underline;
}
#contentArea input, input.helpButton, #searchMask input.submitButton, #searchMask input.resort, a.submitButton{
    border-style: outset;
    border-color: #15516E;
    border-width: 1px;
}
#contentArea input.radio, #searchMask input.checkbox, #searchMask select{
    border-style: inset;
    border-color: #15516E;
    border-width: 1px;
    margin: 2px;
    margin-left: 0px;
}
/* =================================================================== */
/* sitemap                                                             */
/* =================================================================== */
.site.sitemap tr, .sitemap th, .sitemap td, .sitemap a {
    color: #9A5B11;
    background : #FFFFFF; /* white */
    font-size: 12;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-weight : normal;           
    text-decoration: none;  
}
.sitemap a {
    color: #9A5B11;
    font-size: 12;
    text-decoration: none;
    font-weight : normal;   
}
.sitemap a:hover {
    text-decoration: underline;
}
.sitemap img {
	border-style: none;
    border-width: 0px;
}
/* headlines like "menu below..." */
.sitemap th {
    font-weight : bold;         
    text-align: left;       
    padding: 3px;   
    color: #041B26;
    background : #CAD9E0;       
    border-style: solid;
    border-width: 1px;
    border-color: #041B26;     
}
.sitemap th.mainMenuPoint {
    color: #454545;
    background : #EDEDED;   
    padding: 3px;           
    border-color: #454545;  
}
.sitemap th.mainMenuPoint a {
    color: #454545;
    font-size: 100%;    
    font-weight : bold;         
    background: #EDEDED; 
}
.sitemap th.mainMenuPoint a:hover {
    color: #9A5B11;
    font-weight : bold;         
    background: #EDEDED; 
}
/* =================================================================== */
/* search masks & login                                                */
/* =================================================================== */

#searchMask {
}
#searchMask input.text, #searchMask textarea.text, #userAction input.text{
    font-weight: bold;
    font-size: 0.9em;
    border-style: dashed;
    border-color: #15516E;
    border-width: 1px;
    margin: 2px;
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: white;
}
#searchMask td.inputCaption, #userAction td.inputCaption{
    text-align: right;
    font-weight: bold;
    padding-right: 5px;
    color: black;
    background-color: transparent;
}
#searchMask td.inputField, #searchMask td.help, #userAction td.inputField{
    font-weight: bold;
    background-color: transparent;
    padding-left: 5px;
}
#userAction .inputHead{
    padding-top: 20px;
    padding-bottom: 10px;
}
div.submitButton{
    text-align: center;
    padding-top: 5px;
}
#contentArea a.submitButton{
    color: black;
    font-size: 0.9em;
    font-weight : normal;
    text-decoration: none;
    padding: 0px 5px;
}
/* =================================================================== */
/* result lists                                                        */
/* =================================================================== */

#resortForm{
    margin: 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #15516E;
    padding-bottom: 5px;
}
#resortForm table{
    width: 100%;
}
#resortForm table tr{
    height: 20px;
}
#resortForm td.resort, #resortForm td.resultCount{
    vertical-align: center;
}
#resortForm td.resultCount{
    text-align: right;
}
#resultList{
    margin: 5px 0px; /* top-bottom and left-right margin */
}
#resultList td.resultTitle, #resultList td.author{
    background-color: white;
}
#resultList td.resultTitle a{
    font-weight: bold;
}
#resultList div.description{
    margin-bottom: 3px;
}
#resultList td.description{
    padding: 3px;
    background-color: white;
}
#pageSelection{
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #15516E;
    padding: 5px 8px;
}
/* =================================================================== */
/* object meta data                                                    */
/* =================================================================== */

#metaHeading, #metaData, #files {
<!--    width: 100%; -->
}
#metaHeading a img, #metaData a img, #files a img {
    border: none;
}
#metaHeading .titles{
    font-weight: bold;
    color: black;
    background-color: transparent;
}
#metaHeading .browseCtrl{
    text-align: right;
}
#metaData, #files{
    padding: 10px 0px;
}
/* IE Fix: Padding and inheritance is not his strength */
#metaData td, #files td{
    padding: 0px;
}
#metaData .metaname, #files .metaname {
    width: 20%;
    font-weight: bold;
    background-color: transparent;
    color: black;
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
}
#metaData .metavalue, #files .metavalue {
    width: 80%;
    background-color: white;
    color: black;
    padding-left: 10px;
}
#files .metaname, #files .metavalue{
    width: auto;
}
#metaData .metahead, #files .metahead{
    text-align: center;
    color: #15516E;
    font-weight: bold;
    background-color: transparent;
}
#metaData .adressBox{
}
#metaData .addressType{
    font-weight: bold;
}
#metaData .address{
    padding-left: 2em;
}
#metaData .derivateBox{
}
#metaData .derivateHeading{
    font-weight: bold;
}
#metaData .derivate{
    padding-left: 2em;
}
/* =================================================================== */
/* browse classifications                                              */
/* =================================================================== */

#browseClass{
    margin-left: 20px;
}
#browseClass td.img{
}
#browseClass td.numDocs{
}
#browseClass td.descr{
    padding-left: 10px;
}
#browseClass div.comment{
    font-style: italic;
}


/* =================================================================== */
/*                     						   						   */
/* new layout for journals, volumes, articles, 						   */
/* persons and institutions                    						   */
/* 						                    						   */
/* =================================================================== */

/* =================================================================== */
/*  used colors:													   */
/* 			                                                           */
/* 			                                                           */
/* 	darkest red: #003100; for outer frame, content-links...            */
/*  dark red: 	 #115C11; for headlines, leaf-links                    */
/* 	light red: 	 #7BAA89; descriptions...                              */
/*  white:		 #FFFFFF; hover link color                             */
/* 			                                                           */
/* 			                                                           */
/* =================================================================== */


/* =================================================================== */
/* leafs view                                                          */
/* =================================================================== */
#leaf-all {	
	color: #115C11;
	border: 1px solid #115C11;
}

#leaf-front{
	border: 1px solid #115C11;
	background-color: #115C11;
	color: #FFFFFF;
}

#leaf-front div{
    background-color: #115C11;
	color: #FFFFFF;
}

#leaf-linkarea a:link , #leaf-linkarea a:visited , #leaf-linkarea a:active {
    color:#115C11;
}

#leaf-linkarea a:hover {
	background-color:#115C11;
    color:#FFFFFF;
}

#leaf-linkarea2 a:link , #leaf-linkarea2 a:visited , #leaf-linkarea2 a:active {
    color:#115C11;
}

#leaf-linkarea2 a:hover {
	background-color:#115C11;
    color:#FFFFFF;
}

#leaf-whitespaces{
    color:#FFFFFF;
}

#leaf-headline1 {
	color: #003100;
}

#leaf-headline2 {
	color: #003100;
}

#leaf-preview img{
	border: 1px solid #000000;
}

/* =================================================================== */
/* detailed view                                                       */
/* =================================================================== */
#detailed-headlines {
    color: #115C11;
}

#detailed-cube {
	background-color:#003100;
	color: #FFFFFF;
}

#detailed-view {
	color: #7BAA89; 
}

#detailed-labels {
	color: #7BAA89;
}

#detailed-frame{
	border: 2px solid #003100;
}

#detailed-dividingline hr{
	color: #003100;
	background-color: #003100;
}

#detailed-browse{
    border: 1px solid #003100;
	background-color: #7BAA89;	
}
#detailed-staticurl1 {
	color: #7BAA89;
}
#detailed-innerdivlines{
	border-top: 1px solid #003100;
}
#detailed-xmlbutton img{
	border: 1px solid #003100;
}
/* =================================================================== */
/* detailed-view content links                                         */
/* =================================================================== */

#detailed-contents {
	background-color: #003100;
}

#detailed-contents a {
    color: #FFFFFF;
}

#detailed-contentsimg img {
	border: 1px solid #003100;
}
/* =================================================================== */
/* searchmask-view content links                                       */
/* =================================================================== */

#searchmask-contentlinks a {
	color: #7BAA89;
}

/* =================================================================== */
/* switches for detailed and leaf view                                 */
/* =================================================================== */

#switch-current{
	background-color: #7BAA89;
	color: #FFFFFF;
}

#switch-notcurrent{
	background-color: #003100;
}

#switch-notcurrent a{
	color: #FFFFFF;
}

#switch-currentside{
	background-color: #7BAA89;
	color: #FFFFFF;
}

#switch-currentside a{
	color: #FFFFFF;
}