@CHARSET "UTF-8";
html{
	background-color: white;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 12px;
}

html, a{
	color: #115C11;
	text-decoration: none;
}

body{
	margin: 0px;
	min-width: 1024px;
}

/* Color group definition */
.navi_history, .navi_history a, .jp-layout-left-navi a {
	color: #003100;
}

/* Font group definition*/
.login_link, .navi_history a, .jp-layout-left-navi a, .headline {
	font-weight: bold;
}

.jp-layout-left-navi a, .navi_history {
	font-size: 11px;
}

/* top horizontal navigation bar*/
.jp-top-navigation-bar li.navi_below {
	font-weight: bold;
}

.jp-top-navigation-bar {
	height: 30px;
}

.jp-top-navigation-bar a{
	color: #115C11;
	text-decoration: none;
}

.jp-top-navigation-bar .jp-login {
	float: right;
}

.jp-top-navigation-bar .jp-home-link {
	margin: 7px 10px;
    float: left;
    font-weight: bold;
}

.jp-top-navigation-bar ul {
	float: left;
}

.jp-top-navigation-bar li {
	display: inline;
	padding-right: 12px;
}


.jp-layout-header {
	background-image:
		url("../IMAGES/banner_top.gif"),
		url("../IMAGES/banner_top_bg.gif");
	background-repeat: no-repeat, repeat-x;
	background-position: left bottom;
	height: 180px;
}

.navi_history {
	position: relative;
	padding: 0px;
	top: 120px;
	padding-left: 270px;
	clear: both;
}

.navi_history li {
	display: inline;
}

.jp-layout-left-navi {
	width: 227px;
	min-height: 300px;
	background-color: #9ec1a8;
	margin-left: 28px;
	background-image: url("../IMAGES/navi_under.gif");
	background-repeat: no-repeat;
	background-position: bottom;
	float: left;
}


.jp-layout-left-navi ul {
	margin: 0px;
	padding-top: 15px;
	padding-left: 30px;
}

.jp-layout-left-navi li {
	list-style-type: none;
	margin-bottom: 15px;
}

.headline {
	border-bottom: 1px solid;
	margin-top: 20px;
	margin-bottom: 18px;
}

.jp-layout-content-area {
	padding-left: 290px;
	padding-right: 40px;
}

.jp-layout-content-area a{
	font-weight: normal;
}
.jp-layout-content-area a:hover{
	text-decoration: underline;
}

.footer {
	clear: both;
}

.languageSelect{
	background: white;
}

.languageList_show{
	background: white;
}

.detail-browse-button{
	border: 1px solid #003100;
	background-color: #7BAA89;
}

.jp-layout-button-inactive, .jp-layout-button-active {
    height: 20px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    color: white;
}

.jp-layout-button-inactive a {
	color: grey;
}

.jp-layout-button-inactive a:hover {
	color: white;
}

.jp-layout-button-inactive{
	background-color: #003100;
}

.jp-layout-button-active {
	background-color: #7BAA89;
}
.prevObjButton.jp-layout-button-inactive{
	background-image: url("/left.gif");
}
.nextObjButton.jp-layout-button-inactive{
	background-image: url("/right.gif");
}
.prevObjButton, .nextObjButton {
	border: 1px solid #003100;
	height: 20px;
    width: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
}

.switch-view-button{
	width: 166px;
	height: 20px;
/*	display: inline-block;*/
}

.jp-layout-button-active .label-inactive{
	display: none;
}

.jp-layout-button-inactive .label-active{
	display: none;
}

.jp-layout-url-hidden a{
	visibility: hidden;
}

.jp-layout-horiz-menu {
	list-style-type: none;
}

.jp-layout-horiz-menu li{
/*	display: inline-block;*/
	float: left;
}